In [1]:
# Imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import json
import requests
import datetime

In [2]:
# Import dataset
df_retail = pd.read_excel(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_editados\australia_retail.xlsx')
display(df_retail)

,tipo_negocio,loja_negocio,localidade,horario_abertura,horario_fechamento,horario_maior_fluxo,horario_pico_vendas,alocacao_funcionarios,horario_pico_vendas_2,vendas_medias_diarias,vendas_medias_semanais,produtos_populares,perfil_clientes,metodos_pagamento,satisfacao_clientes,lucratividade_loja,satisfacao_funcionarios,reclamacoes_trabalhistas
0,Clothing,Fashion Hub,Melbourne,09:00:00,20:00:00,19:00:00,16:00:00,Overstaffed,20:00:00,3520.77,23527.26,"T-shirts, Jeans",Young Adults,Credit Card,Good,Decreased,Dissatisfied,Yes
1,Bookstore,Book Nook,Brisbane,09:00:00,22:00:00,14:00:00,18:00:00,Understaffed,17:00:00,2915.36,27744.20,"Children's Books, Non-fiction",Teens,Credit Card,Good,Decreased,Dissatisfied,Yes
2,Bookstore,Book Nook,Adelaide,08:00:00,21:00:00,16:00:00,19:00:00,Overstaffed,18:00:00,1984.46,22411.88,"Non-fiction, Children's Books",Teens,Credit Card,Bad,Decreased,Satisfied,No
3,Bookstore,Book Nook,Melbourne,09:00:00,18:00:00,18:00:00,19:00:00,Overstaffed,19:00:00,644.22,31314.84,"Fiction, Non-fiction",Teens,Digital Wallet,Bad,Decreased,Dissatisfied,Yes
4,Furniture,Home Essentials,Sydney,07:00:00,20:00:00,15:00:00,21:00:00,Understaffed,18:00:00,620.63,27881.23,"Chairs, Sofas",Seniors,Cash,Good,Increased,Satisfied,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Clothing,Fashion Hub,Melbourne,07:00:00,20:00:00,18:00:00,17:00:00,Overstaffed,20:00:00,507.56,5081.61,"Dresses, Jeans",Young Adults,Digital Wallet,Good,Increased,Satisfied,No
496,Grocery,Green Grocers,Sydney,08:00:00,18:00:00,11:00:00,17:00:00,Understaffed,17:00:00,3618.03,29709.42,"Vegetables, Dairy Products",Families,Debit Card,Bad,Increased,Satisfied,Yes
497,Clothing,Fashion Hub,Perth,07:00:00,21:00:00,12:00:00,20:00:00,Overstaffed,20:00:00,1569.51,9908.53,"Dresses, Jeans",Young Adults,Digital Wallet,Good,Increased,Dissatisfied,No
498,Clothing,Fashion Hub,Sydney,08:00:00,19:00:00,20:00:00,17:00:00,Understaffed,19:00:00,1411.71,33851.77,"T-shirts, Jeans",Young Adults,Credit Card,Good,Increased,Dissatisfied,Yes
499,Bookstore,Book Nook,Sydney,10:00:00,21:00:00,13:00:00,21:00:00,Overstaffed,17:00:00,2615.05,31314.89,"Fiction, Children's Books",Teens,Digital Wallet,Good,Increased,Dissatisfied,Yes

In [3]:
# Total de média vendas por tipo e por loja
venda_total_diaria_por_tipo_marca = df_retail[['tipo_negocio', 'loja_negocio', 'vendas_medias_diarias']]
venda_total_diaria_por_tipo_marca = venda_total_diaria_por_tipo_marca.groupby(['tipo_negocio', 'loja_negocio'], as_index=False).sum().sort_values(by='vendas_medias_diarias', ascending=False)
display(venda_total_diaria_por_tipo_marca)

  tipo_negocio     loja_negocio  vendas_medias_diarias
1     Clothing      Fashion Hub              400995.38
2  Electronics       Tech Store              349798.45
3    Furniture  Home Essentials              258493.82
0    Bookstore        Book Nook              247030.49
4      Grocery    Green Grocers              117706.88

In [4]:
# Desempenho médio por tipo e por loja
venda_media_diaria_por_tipo = df_retail[['tipo_negocio', 'loja_negocio', 'vendas_medias_diarias']]
venda_media_diaria_por_tipo = venda_media_diaria_por_tipo.groupby(['tipo_negocio', 'loja_negocio'], as_index=False).mean('vendas_medias_diarias').sort_values(by='vendas_medias_diarias', ascending=False)
display(round(venda_media_diaria_por_tipo, 2))

  tipo_negocio     loja_negocio  vendas_medias_diarias
2  Electronics       Tech Store                3179.99
4      Grocery    Green Grocers                2942.67
1     Clothing      Fashion Hub                2673.30
3    Furniture  Home Essentials                2584.94
0    Bookstore        Book Nook                2470.30

In [5]:
venda_tipo = (
    df_retail[['tipo_negocio', 'vendas_medias_diarias']]
      .groupby('tipo_negocio', as_index=False)
      .agg(
          lojas=('vendas_medias_diarias', 'count'),
          venda_media_diaria=('vendas_medias_diarias', 'mean')
      )
      .sort_values(by='venda_media_diaria', ascending=False)
)
venda_tipo

  tipo_negocio  lojas  venda_media_diaria
2  Electronics    110         3179.985909
4      Grocery     40         2942.672000
1     Clothing    150         2673.302533
3    Furniture    100         2584.938200
0    Bookstore    100         2470.304900

In [6]:
# Localidade - Valor médio diário
df_retail[['localidade', 'vendas_medias_diarias']].groupby('localidade').sum().sort_values(by='vendas_medias_diarias', ascending=False)
#display(df_retail)

            vendas_medias_diarias
localidade
Sydney                  398895.52
Adelaide                275630.20
Brisbane                260857.65
Melbourne               241842.95
Perth                   196798.70

In [7]:
# Localidade - Valor médio semanal
df_retail[['localidade', 'vendas_medias_semanais']].groupby('localidade').sum().sort_values(by='vendas_medias_semanais', ascending=False)

            vendas_medias_semanais
localidade
Sydney                  3251333.53
Adelaide                2272403.56
Brisbane                1782382.77
Melbourne               1699702.12
Perth                   1631590.84

In [15]:
# Localidade - Valor máximo semanal
df_retail[['localidade', 'vendas_medias_semanais']].groupby('localidade').max().sort_values(by='vendas_medias_semanais', ascending=False)

            vendas_medias_semanais
localidade
Adelaide                  37754.76
Perth                     37462.60
Sydney                    35041.76
Melbourne                 35035.15
Brisbane                  33477.96

In [16]:
# Localidade - Valor máximo semanal
df_retail[['localidade', 'vendas_medias_semanais']].groupby('localidade').min().sort_values(by='vendas_medias_semanais', ascending=False)

            vendas_medias_semanais
localidade
Sydney                    13804.24
Brisbane                   8958.45
Melbourne                  4653.67
Adelaide                   4393.05
Perth                      3865.03

In [19]:
df_retail

,tipo_negocio,loja_negocio,localidade,horario_abertura,horario_fechamento,horario_maior_fluxo,horario_pico_vendas,alocacao_funcionarios,horario_pico_vendas_2,vendas_medias_diarias,vendas_medias_semanais,produtos_populares,perfil_clientes,metodos_pagamento,satisfacao_clientes,lucratividade_loja,satisfacao_funcionarios,reclamacoes_trabalhistas
0,Clothing,Fashion Hub,Melbourne,09:00:00,20:00:00,19:00:00,16:00:00,Overstaffed,20:00:00,3520.77,23527.26,"T-shirts, Jeans",Young Adults,Credit Card,Good,Decreased,Dissatisfied,Yes
1,Bookstore,Book Nook,Brisbane,09:00:00,22:00:00,14:00:00,18:00:00,Understaffed,17:00:00,2915.36,27744.20,"Children's Books, Non-fiction",Teens,Credit Card,Good,Decreased,Dissatisfied,Yes
2,Bookstore,Book Nook,Adelaide,08:00:00,21:00:00,16:00:00,19:00:00,Overstaffed,18:00:00,1984.46,22411.88,"Non-fiction, Children's Books",Teens,Credit Card,Bad,Decreased,Satisfied,No
3,Bookstore,Book Nook,Melbourne,09:00:00,18:00:00,18:00:00,19:00:00,Overstaffed,19:00:00,644.22,31314.84,"Fiction, Non-fiction",Teens,Digital Wallet,Bad,Decreased,Dissatisfied,Yes
4,Furniture,Home Essentials,Sydney,07:00:00,20:00:00,15:00:00,21:00:00,Understaffed,18:00:00,620.63,27881.23,"Chairs, Sofas",Seniors,Cash,Good,Increased,Satisfied,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Clothing,Fashion Hub,Melbourne,07:00:00,20:00:00,18:00:00,17:00:00,Overstaffed,20:00:00,507.56,5081.61,"Dresses, Jeans",Young Adults,Digital Wallet,Good,Increased,Satisfied,No
496,Grocery,Green Grocers,Sydney,08:00:00,18:00:00,11:00:00,17:00:00,Understaffed,17:00:00,3618.03,29709.42,"Vegetables, Dairy Products",Families,Debit Card,Bad,Increased,Satisfied,Yes
497,Clothing,Fashion Hub,Perth,07:00:00,21:00:00,12:00:00,20:00:00,Overstaffed,20:00:00,1569.51,9908.53,"Dresses, Jeans",Young Adults,Digital Wallet,Good,Increased,Dissatisfied,No
498,Clothing,Fashion Hub,Sydney,08:00:00,19:00:00,20:00:00,17:00:00,Understaffed,19:00:00,1411.71,33851.77,"T-shirts, Jeans",Young Adults,Credit Card,Good,Increased,Dissatisfied,Yes
499,Bookstore,Book Nook,Sydney,10:00:00,21:00:00,13:00:00,21:00:00,Overstaffed,17:00:00,2615.05,31314.89,"Fiction, Children's Books",Teens,Digital Wallet,Good,Increased,Dissatisfied,Yes

In [22]:
# 1) Focar só nas colunas que vamos usar
cols_satisfacao = ['satisfacao_clientes', 'vendas_medias_diarias', 'lucratividade_loja']
df_satisfacao = df_retail[cols_satisfacao].copy()

# 2) Agrupar por satisfação do cliente e calcular:
#    - média de vendas diárias
#    - quantidade de lojas
satisfacao_vendas = (
    df_satisfacao
        .groupby('satisfacao_clientes', as_index=False)
        .agg(
            qtd_lojas=('vendas_medias_diarias', 'count'),
            venda_media_diaria=('vendas_medias_diarias', 'mean')
        )
        .sort_values(by='venda_media_diaria', ascending=False)
)

# 3) Arredondar para ficar mais apresentável
satisfacao_vendas['venda_media_diaria'] = satisfacao_vendas['venda_media_diaria'].round(2)

display(satisfacao_vendas)

  satisfacao_clientes  qtd_lojas  venda_media_diaria
0                 Bad        240             2764.71
1                Good        260             2732.67

In [24]:
# 4) Tabela de contingência: satisfação x lucratividade
tabela_satisfacao_lucro = (
    df_satisfacao
        .groupby(['satisfacao_clientes', 'lucratividade_loja'], as_index=False)
        .size()
        .rename(columns={'size': 'qtd_lojas'})
)

display(tabela_satisfacao_lucro)

  satisfacao_clientes lucratividade_loja  qtd_lojas
0                 Bad          Decreased        107
1                 Bad          Increased        133
2                Good          Decreased        141
3                Good          Increased        119

In [25]:
# 5) Proporção de lojas Increased/Decreased dentro de cada nível de satisfação
tabela_satisfacao_lucro_prop = (
    tabela_satisfacao_lucro
        .groupby('satisfacao_clientes')
        .apply(lambda g: g.assign(proporcao = g['qtd_lojas'] / g['qtd_lojas'].sum()))
        .reset_index(drop=True)
)

# Arredonda
tabela_satisfacao_lucro_prop['proporcao'] = (tabela_satisfacao_lucro_prop['proporcao'] * 100).round(1)

display(tabela_satisfacao_lucro_prop)

C:\Users\JacyzinGuilherme(Bip\AppData\Local\Temp\ipykernel_38932\244365135.py:5: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: g.assign(proporcao = g['qtd_lojas'] / g['qtd_lojas'].sum()))

  satisfacao_clientes lucratividade_loja  qtd_lojas  proporcao
0                 Bad          Decreased        107       44.6
1                 Bad          Increased        133       55.4
2                Good          Decreased        141       54.2
3                Good          Increased        119       45.8

In [28]:
# Import dataset
df_clima = pd.read_csv(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_brutos\clima_australia.csv', sep=';')
display(df_clima)

,data,localidade,temp_min,temp_max,chuva_mm,evaporacao,horas_sol,vento_rajada_direcao,vento_rajada_velocidade,vento_direcao_9h,...,umidade_9h,umidade_15h,pressao_9h,pressao_15h,nuvem_9h,nuvem_15h,temp_9h,temp_15h,choveu_hoje,chove_amanha
0,01/12/2008,Albury,13.4,22.9,0.6,NaN,NaN,W,"44,00",W,...,"71,00","22,00",1007.7,1007.1,"8,00",NaN,16.9,21.8,No,No
1,02/12/2008,Albury,7.4,25.1,"0,00",NaN,NaN,WNW,"44,00",NNW,...,"44,00","25,00",1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,03/12/2008,Albury,12.9,25.7,"0,00",NaN,NaN,WSW,"46,00",W,...,"38,00","30,00",1007.6,1008.7,NaN,"2,00","21,00",23.2,No,No
3,04/12/2008,Albury,9.2,"28,00","0,00",NaN,NaN,NE,"24,00",SE,...,"45,00","16,00",1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,05/12/2008,Albury,17.5,32.3,"1,00",NaN,NaN,W,"41,00",ENE,...,"82,00","33,00",1010.8,"1006,00","7,00","8,00",17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,21/06/2017,Uluru,2.8,23.4,"0,00",NaN,NaN,E,"31,00",SE,...,"51,00","24,00",1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,22/06/2017,Uluru,3.6,25.3,"0,00",NaN,NaN,NNW,"22,00",SE,...,"56,00","21,00",1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,23/06/2017,Uluru,5.4,26.9,"0,00",NaN,NaN,N,"37,00",SE,...,"53,00","24,00","1021,00",1016.8,NaN,NaN,12.5,26.1,No,No
145458,24/06/2017,Uluru,7.8,"27,00","0,00",NaN,NaN,SE,"28,00",SSE,...,"51,00","24,00",1019.4,1016.5,"3,00","2,00",15.1,"26,00",No,No
145459,25/06/2017,Uluru,14.9,NaN,"0,00",NaN,NaN,NaN,NaN,ESE,...,"62,00","36,00",1020.2,1017.9,"8,00","8,00","15,00",20.9,No,NaN

In [29]:
df_clima.isnull().sum()

data                           0
localidade                     0
temp_min                    1485
temp_max                    1261
chuva_mm                    3261
evaporacao                 62790
horas_sol                  69835
vento_rajada_direcao       10326
vento_rajada_velocidade    10263
vento_direcao_9h           10566
vento_direcao_15h           4228
vento_veloc_9h              1767
vento_veloc_15h             3062
umidade_9h                  2654
umidade_15h                 4507
pressao_9h                 15065
pressao_15h                15028
nuvem_9h                   55888
nuvem_15h                  59358
temp_9h                     1767
temp_15h                    3609
choveu_hoje                 3261
chove_amanha                3267
dtype: int64

In [30]:
df_clima.shape

(145460, 23)

In [37]:
teste = df_clima.dropna()
display(teste)

,data,localidade,temp_min,temp_max,chuva_mm,evaporacao,horas_sol,vento_rajada_direcao,vento_rajada_velocidade,vento_direcao_9h,...,umidade_9h,umidade_15h,pressao_9h,pressao_15h,nuvem_9h,nuvem_15h,temp_9h,temp_15h,choveu_hoje,chove_amanha
6049,01/01/2009,Cobar,17.9,35.2,"0,00",12.0,12.3,SSW,"48,00",ENE,...,"20,00","13,00",1006.3,1004.4,"2,00","5,00",26.6,33.4,No,No
6050,02/01/2009,Cobar,18.4,28.9,"0,00",14.8,13.0,S,"37,00",SSE,...,"30,00","8,00",1012.9,1012.1,"1,00","1,00",20.3,"27,00",No,No
6052,04/01/2009,Cobar,19.4,37.6,"0,00",10.8,10.6,NNE,"46,00",NNE,...,"42,00","22,00",1012.3,1009.2,"1,00","6,00",28.7,34.9,No,No
6053,05/01/2009,Cobar,21.9,38.4,"0,00",11.4,12.2,WNW,"31,00",WNW,...,"37,00","22,00",1012.7,1009.1,"1,00","5,00",29.1,35.6,No,No
6054,06/01/2009,Cobar,24.2,"41,00","0,00",11.2,8.4,WNW,"35,00",NW,...,"19,00","15,00",1010.7,1007.4,"1,00","6,00",33.6,37.6,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,20/06/2017,Darwin,19.3,33.4,"0,00",6.0,11.0,ENE,"35,00",SE,...,"63,00","32,00",1013.9,1010.5,"0,00","1,00",24.5,32.3,No,No
142299,21/06/2017,Darwin,21.2,32.6,"0,00",7.6,8.6,E,"37,00",SE,...,"56,00","28,00",1014.6,1011.2,"7,00","0,00",24.8,"32,00",No,No
142300,22/06/2017,Darwin,20.7,32.8,"0,00",5.6,11.0,E,"33,00",E,...,"46,00","23,00",1015.3,1011.8,"0,00","0,00",24.8,32.1,No,No
142301,23/06/2017,Darwin,19.5,31.8,"0,00",6.2,10.6,ESE,"26,00",SE,...,"62,00","58,00",1014.9,1010.7,"1,00","1,00",24.8,29.2,No,No
142302,24/06/2017,Darwin,20.2,31.7,"0,00",5.6,10.7,ENE,"30,00",ENE,...,"73,00","32,00",1013.9,1009.7,"6,00","5,00",25.4,"31,00",No,No

In [36]:
teste.isna().sum()

data                       0
localidade                 0
temp_min                   0
temp_max                   0
chuva_mm                   0
evaporacao                 0
horas_sol                  0
vento_rajada_direcao       0
vento_rajada_velocidade    0
vento_direcao_9h           0
vento_direcao_15h          0
vento_veloc_9h             0
vento_veloc_15h            0
umidade_9h                 0
umidade_15h                0
pressao_9h                 0
pressao_15h                0
nuvem_9h                   0
nuvem_15h                  0
temp_9h                    0
temp_15h                   0
choveu_hoje                0
chove_amanha               0
dtype: int64

In [38]:
df_clima.to_excel(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_editados\australia_clima.xlsx', index=False)

In [39]:
df_clima.to_csv(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_editados\australia_clima.csv', index=False)