In [2]:
# Imports

import pandas as pd
import numpy as np

In [3]:
# Import da base clima para exploração
df_clima = pd.read_csv(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_brutos\clima_australia.csv', sep=';')
display(df_clima)

,data,localidade,temp_min,temp_max,chuva_mm,evaporacao,horas_sol,vento_rajada_direcao,vento_rajada_velocidade,vento_direcao_9h,...,umidade_9h,umidade_15h,pressao_9h,pressao_15h,nuvem_9h,nuvem_15h,temp_9h,temp_15h,choveu_hoje,chove_amanha
0,01/12/2008,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,02/12/2008,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,03/12/2008,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,04/12/2008,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,05/12/2008,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,21/06/2017,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,22/06/2017,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,23/06/2017,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,24/06/2017,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,25/06/2017,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [4]:
df_clima.shape

(145460, 23)

In [5]:
df_clima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   data                     145460 non-null  object
 1   localidade               145460 non-null  object
 2   temp_min                 143975 non-null  float64
 3   temp_max                 144199 non-null  float64
 4   chuva_mm                 142199 non-null  float64
 5   evaporacao               82670 non-null   float64
 6   horas_sol                75625 non-null   float64
 7   vento_rajada_direcao     135134 non-null  object
 8   vento_rajada_velocidade  135197 non-null  float64
 9   vento_direcao_9h         134894 non-null  object
 10  vento_direcao_15h        141232 non-null  object
 11  vento_veloc_9h           143693 non-null  float64
 12  vento_veloc_15h          142398 non-null  float64
 13  umidade_9h               142806 non-null  float64
 14  umidade_15h              140953 non-null  float64
 15  pressao_9h               130395 non-null  float64
 16  pressao_15h              130432 non-null  float64
 17  nuvem_9h                 89572 non-null   float64
 18  nuvem_15h                86102 non-null   float64
 19  temp_9h                  143693 non-null  float64
 20  temp_15h                 141851 non-null  float64
 21  choveu_hoje              142199 non-null  object
 22  chove_amanha             142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [6]:
df_clima.isna().sum()

data                           0
localidade                     0
temp_min                    1485
temp_max                    1261
chuva_mm                    3261
evaporacao                 62790
horas_sol                  69835
vento_rajada_direcao       10326
vento_rajada_velocidade    10263
vento_direcao_9h           10566
vento_direcao_15h           4228
vento_veloc_9h              1767
vento_veloc_15h             3062
umidade_9h                  2654
umidade_15h                 4507
pressao_9h                 15065
pressao_15h                15028
nuvem_9h                   55888
nuvem_15h                  59358
temp_9h                     1767
temp_15h                    3609
choveu_hoje                 3261
chove_amanha                3267
dtype: int64

In [7]:
df_clima = df_clima.rename(columns={'chove_amanha': 'chove_amanha_vtr', 'choveu_hoje': 'choveu_hoje_fex'})
df_clima['choveu_hoje_Nfex'] = np.where(df_clima['choveu_hoje_fex'] == 'No', 0, 1)
df_clima['chove_amanha_Nvtr'] = np.where(df_clima['chove_amanha_vtr'] == 'No', 0, 1)

In [8]:
# Separando e tratando data

# converte a coluna data para datetime - sinalizando que o dia é o primeiro elemento da coluna
df_clima['data'] = pd.to_datetime(df_clima['data'], dayfirst=True, 
    # se a conversão falhar, retorna NaT (ou missing values)
    errors='coerce')

# criando uma coluna ano e extraindo o valor para salvar na coluna
df_clima['ano'] = df_clima['data'].dt.year

# criando uma coluna mês e extraindo o valor para salvar na coluna
df_clima['mes'] = df_clima['data'].dt.month

# criando uma coluna dia e extraindo o valor para salvar na coluna
df_clima['dia'] = df_clima['data'].dt.day

# criando uma coluna trimestre e extraindo o valor para salvar na coluna
df_clima['trimestre_quarter'] = df_clima['data'].dt.quarter

display(df_clima), df_clima.isna().sum()

,data,localidade,temp_min,temp_max,chuva_mm,evaporacao,horas_sol,vento_rajada_direcao,vento_rajada_velocidade,vento_direcao_9h,...,temp_9h,temp_15h,choveu_hoje_fex,chove_amanha_vtr,choveu_hoje_Nfex,chove_amanha_Nvtr,ano,mes,dia,trimestre_quarter
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,16.9,21.8,No,No,0,0,2008,12,1,4
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,17.2,24.3,No,No,0,0,2008,12,2,4
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,21.0,23.2,No,No,0,0,2008,12,3,4
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,18.1,26.5,No,No,0,0,2008,12,4,4
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,17.8,29.7,No,No,0,0,2008,12,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,10.1,22.4,No,No,0,0,2017,6,21,2
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,10.9,24.5,No,No,0,0,2017,6,22,2
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,12.5,26.1,No,No,0,0,2017,6,23,2
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,15.1,26.0,No,No,0,0,2017,6,24,2
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,15.0,20.9,No,NaN,0,1,2017,6,25,2

(None,
 data                           0
 localidade                     0
 temp_min                    1485
 temp_max                    1261
 chuva_mm                    3261
 evaporacao                 62790
 horas_sol                  69835
 vento_rajada_direcao       10326
 vento_rajada_velocidade    10263
 vento_direcao_9h           10566
 vento_direcao_15h           4228
 vento_veloc_9h              1767
 vento_veloc_15h             3062
 umidade_9h                  2654
 umidade_15h                 4507
 pressao_9h                 15065
 pressao_15h                15028
 nuvem_9h                   55888
 nuvem_15h                  59358
 temp_9h                     1767
 temp_15h                    3609
 choveu_hoje_fex             3261
 chove_amanha_vtr            3267
 choveu_hoje_Nfex               0
 chove_amanha_Nvtr              0
 ano                            0
 mes                            0
 dia                            0
 trimestre_quarter              0
 dtype: int64)

In [9]:
# Verificação da distribuição geral da var chove_amanha_Nvtr
display(round(df_clima['chove_amanha_vtr'].value_counts(normalize=True) * 100, 2))

chove_amanha_vtr
No     77.58
Yes    22.42
Name: proportion, dtype: float64

In [10]:
# Verificação da distribuição da var chove_amanha_vtr por trimestre
display(round(
    df_clima.groupby('trimestre_quarter')['chove_amanha_vtr'].value_counts(normalize=True).mul(100).rename('percentual').reset_index()
    ,2))

   trimestre_quarter chove_amanha_vtr  percentual
0                  1               No       79.48
1                  1              Yes       20.52
2                  2               No       76.47
3                  2              Yes       23.53
4                  3               No       74.93
5                  3              Yes       25.07
6                  4               No       79.47
7                  4              Yes       20.53

In [11]:
# Distribuição da variável target chove_amanha_vtr por localidade
display(round(
   df_clima.groupby('localidade')['chove_amanha_vtr'].value_counts(normalize=True).mul(100).rename('percentual').reset_index().sort_values(by='percentual', ascending=False).head(10)
   ,2))

      localidade chove_amanha_vtr  percentual
96       Woomera               No       93.24
82         Uluru               No       92.37
6   AliceSprings               No       91.95
40       Mildura               No       89.13
20         Cobar               No       87.08
42         Moree               No       86.19
50          Nhil               No       84.58
72    SalmonGums               No       84.03
32     Katherine               No       83.00
78    Townsville               No       82.89

In [12]:
# Choveu hoje vs Chove amanhã
display(round(
    df_clima.groupby('choveu_hoje_fex')['chove_amanha_vtr'].value_counts(normalize=True).mul(100).rename('percentual').reset_index()
    ,2))

  choveu_hoje_fex chove_amanha_vtr  percentual
0              No               No       84.81
1              No              Yes       15.19
2             Yes               No       53.59
3             Yes              Yes       46.41

### Observando NaN

In [13]:
# Visão NaN geral

# em df_clima, calculo porcentagem de valores NaN por coluna, multiplico por 100, arredondo para 2 casas decimais
display(round(df_clima.isna().mean().mul(100), 2))

data                        0.00
localidade                  0.00
temp_min                    1.02
temp_max                    0.87
chuva_mm                    2.24
evaporacao                 43.17
horas_sol                  48.01
vento_rajada_direcao        7.10
vento_rajada_velocidade     7.06
vento_direcao_9h            7.26
vento_direcao_15h           2.91
vento_veloc_9h              1.21
vento_veloc_15h             2.11
umidade_9h                  1.82
umidade_15h                 3.10
pressao_9h                 10.36
pressao_15h                10.33
nuvem_9h                   38.42
nuvem_15h                  40.81
temp_9h                     1.21
temp_15h                    2.48
choveu_hoje_fex             2.24
chove_amanha_vtr            2.25
choveu_hoje_Nfex            0.00
chove_amanha_Nvtr           0.00
ano                         0.00
mes                         0.00
dia                         0.00
trimestre_quarter           0.00
dtype: float64

In [14]:
# Analisando NaN var horas_sol
df_clima['horas_sol_isna'] = df_clima['horas_sol'].isna()
display(round(
    df_clima.groupby('horas_sol_isna')['chove_amanha_vtr'].value_counts(normalize=True).mul(100).rename('percentual').reset_index()
    ,2))

   horas_sol_isna chove_amanha_vtr  percentual
0           False               No       77.38
1           False              Yes       22.62
2            True               No       77.80
3            True              Yes       22.20

In [15]:
# Proporção de volume horas_sol NaN
display(round(
    df_clima['horas_sol_isna'].value_counts(normalize=True) * 100,2))

horas_sol_isna
False    51.99
True     48.01
Name: proportion, dtype: float64

In [16]:
display(df_clima)

,data,localidade,temp_min,temp_max,chuva_mm,evaporacao,horas_sol,vento_rajada_direcao,vento_rajada_velocidade,vento_direcao_9h,...,temp_15h,choveu_hoje_fex,chove_amanha_vtr,choveu_hoje_Nfex,chove_amanha_Nvtr,ano,mes,dia,trimestre_quarter,horas_sol_isna
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,21.8,No,No,0,0,2008,12,1,4,True
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,24.3,No,No,0,0,2008,12,2,4,True
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,23.2,No,No,0,0,2008,12,3,4,True
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,26.5,No,No,0,0,2008,12,4,4,True
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,29.7,No,No,0,0,2008,12,5,4,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,22.4,No,No,0,0,2017,6,21,2,True
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,24.5,No,No,0,0,2017,6,22,2,True
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,26.1,No,No,0,0,2017,6,23,2,True
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,26.0,No,No,0,0,2017,6,24,2,True
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,20.9,No,NaN,0,1,2017,6,25,2,True

In [17]:
df_clima.isnull().sum()

data                           0
localidade                     0
temp_min                    1485
temp_max                    1261
chuva_mm                    3261
evaporacao                 62790
horas_sol                  69835
vento_rajada_direcao       10326
vento_rajada_velocidade    10263
vento_direcao_9h           10566
vento_direcao_15h           4228
vento_veloc_9h              1767
vento_veloc_15h             3062
umidade_9h                  2654
umidade_15h                 4507
pressao_9h                 15065
pressao_15h                15028
nuvem_9h                   55888
nuvem_15h                  59358
temp_9h                     1767
temp_15h                    3609
choveu_hoje_fex             3261
chove_amanha_vtr            3267
choveu_hoje_Nfex               0
chove_amanha_Nvtr              0
ano                            0
mes                            0
dia                            0
trimestre_quarter              0
horas_sol_isna                 0
dtype: int64

In [18]:
# Analisando NaN var evaporacao
df_clima['evaporacao_isna'] = df_clima['evaporacao'].isna()
display(round(
    df_clima.groupby('evaporacao_isna')['chove_amanha_vtr'].value_counts(normalize=True).mul(100).rename('percentual').reset_index()
    ,2))

   evaporacao_isna chove_amanha_vtr  percentual
0            False               No       78.05
1            False              Yes       21.95
2             True               No       76.96
3             True              Yes       23.04

In [19]:
# Proporção de volume evaporacao NaN
display(round(
    df_clima['evaporacao_isna'].value_counts(normalize=True) * 100,2))

evaporacao_isna
False    56.83
True     43.17
Name: proportion, dtype: float64

In [20]:
# Analisando NaN var nuvem_9h
df_clima['nuvem_9h_isna'] = df_clima['nuvem_9h'].isna()
display(round(
    df_clima.groupby('evaporacao_isna')['chove_amanha_vtr'].value_counts(normalize=True).mul(100).rename('percentual').reset_index()
    ,2))

   evaporacao_isna chove_amanha_vtr  percentual
0            False               No       78.05
1            False              Yes       21.95
2             True               No       76.96
3             True              Yes       23.04

In [21]:
# Proporção de volume nuvem_9h NaN
display(round(
    df_clima['nuvem_9h_isna'].value_counts(normalize=True) * 100,2))

nuvem_9h_isna
False    61.58
True     38.42
Name: proportion, dtype: float64

In [22]:
# Analisando NaN var nuvem_15h
df_clima['nuvem_15h_isna'] = df_clima['nuvem_15h'].isna()
display(round(
    df_clima.groupby('nuvem_15h_isna')['chove_amanha_vtr'].value_counts(normalize=True).mul(100).rename('percentual').reset_index()
    ,2))

   nuvem_15h_isna chove_amanha_vtr  percentual
0           False               No       76.16
1           False              Yes       23.84
2            True               No       79.70
3            True              Yes       20.30

In [23]:
# Proporção de volume nuvem_15h NaN
display(round(
    df_clima['nuvem_15h_isna'].value_counts(normalize=True) * 100,2))

nuvem_15h_isna
False    59.19
True     40.81
Name: proportion, dtype: float64

In [24]:
# Analisando NaN var pressao_9h
df_clima['pressao_9h_isna'] = df_clima['pressao_9h'].isna()
display(round(
    df_clima.groupby('pressao_9h_isna')['chove_amanha_vtr'].value_counts(normalize=True).mul(100).rename('percentual').reset_index()
    ,2))

   pressao_9h_isna chove_amanha_vtr  percentual
0            False               No       77.55
1            False              Yes       22.45
2             True               No       77.86
3             True              Yes       22.14

In [25]:
# Proporção de volume pressao 9h NaN
display(round(
    df_clima['pressao_9h_isna'].value_counts(normalize=True) * 100,2))

pressao_9h_isna
False    89.64
True     10.36
Name: proportion, dtype: float64

In [26]:
# Analisando NaN var pressao_15h
df_clima['pressao_15h_isna'] = df_clima['pressao_15h'].isna()
display(round(
    df_clima.groupby('pressao_15h_isna')['chove_amanha_vtr'].value_counts(normalize=True).mul(100).rename('percentual').reset_index()
    ,2))

   pressao_15h_isna chove_amanha_vtr  percentual
0             False               No       77.57
1             False              Yes       22.43
2              True               No       77.73
3              True              Yes       22.27

In [27]:
# Proporção de volume pressao_15h NaN
display(round(
    df_clima['pressao_15h_isna'].value_counts(normalize=True) * 100,2))

pressao_15h_isna
False    89.67
True     10.33
Name: proportion, dtype: float64

In [28]:
df_clima.isna().sum()

data                           0
localidade                     0
temp_min                    1485
temp_max                    1261
chuva_mm                    3261
evaporacao                 62790
horas_sol                  69835
vento_rajada_direcao       10326
vento_rajada_velocidade    10263
vento_direcao_9h           10566
vento_direcao_15h           4228
vento_veloc_9h              1767
vento_veloc_15h             3062
umidade_9h                  2654
umidade_15h                 4507
pressao_9h                 15065
pressao_15h                15028
nuvem_9h                   55888
nuvem_15h                  59358
temp_9h                     1767
temp_15h                    3609
choveu_hoje_fex             3261
chove_amanha_vtr            3267
choveu_hoje_Nfex               0
chove_amanha_Nvtr              0
ano                            0
mes                            0
dia                            0
trimestre_quarter              0
horas_sol_isna                 0
evaporacao_isna                0
nuvem_9h_isna                  0
nuvem_15h_isna                 0
pressao_9h_isna                0
pressao_15h_isna               0
dtype: int64

In [29]:
# Agrupando colunas com menos valores NaN
grupo_min_nan = df_clima[['temp_min', 'temp_max', 'chuva_mm', 'vento_veloc_9h', 'vento_veloc_15h', 'umidade_9h', 'temp_9h', 'temp_15h']]

In [30]:
# Copy do df original // backup
df_clima_backup = df_clima.copy()

In [31]:
# Media simples no grupo_min_nan

# para cada coluna in grupo_min_nan
for col in grupo_min_nan:
    # mediana recebe = df_clima_backup[coluna] com a mediana
    mediana = df_clima_backup[col].median()
    # df_clima_backup[coluna] recebe df_clima_backup[coluna] com NaN preenchidos com a mediana
    df_clima_backup[col] = df_clima_backup[col].fillna(mediana)

In [32]:
# Choveu_hoje_fex

gp_var_categorica = ['choveu_hoje_fex']

# para cada coluna in gp_var_categoria
for col in gp_var_categorica:
    # moda recebe = resultado de df_clima_backup[col] com a moda
    moda = df_clima_backup[col].mode()[0]
    # df_clima_backup[coluna] recebe df_clima_backup[coluna] com NaN preenchidos com a moda
    df_clima_backup[col] = df_clima_backup[col].fillna(moda)

In [33]:
gp_var_categorica

['choveu_hoje_fex']

In [34]:
df_clima_backup.isna().sum()

data                           0
localidade                     0
temp_min                       0
temp_max                       0
chuva_mm                       0
evaporacao                 62790
horas_sol                  69835
vento_rajada_direcao       10326
vento_rajada_velocidade    10263
vento_direcao_9h           10566
vento_direcao_15h           4228
vento_veloc_9h                 0
vento_veloc_15h                0
umidade_9h                     0
umidade_15h                 4507
pressao_9h                 15065
pressao_15h                15028
nuvem_9h                   55888
nuvem_15h                  59358
temp_9h                        0
temp_15h                       0
choveu_hoje_fex                0
chove_amanha_vtr            3267
choveu_hoje_Nfex               0
chove_amanha_Nvtr              0
ano                            0
mes                            0
dia                            0
trimestre_quarter              0
horas_sol_isna                 0
evaporacao_isna                0
nuvem_9h_isna                  0
nuvem_15h_isna                 0
pressao_9h_isna                0
pressao_15h_isna               0
dtype: int64

In [35]:
grupo_min_nan = ['temp_min','temp_max','chuva_mm','vento_veloc_9h','vento_veloc_15h','umidade_9h','temp_9h','temp_15h']

gp_var_categorica = ['choveu_hoje_fex']

df_clima_backup[grupo_min_nan + gp_var_categorica].isna().sum()

temp_min           0
temp_max           0
chuva_mm           0
vento_veloc_9h     0
vento_veloc_15h    0
umidade_9h         0
temp_9h            0
temp_15h           0
choveu_hoje_fex    0
dtype: int64

In [36]:
df_clima_backup.isna().sum()

data                           0
localidade                     0
temp_min                       0
temp_max                       0
chuva_mm                       0
evaporacao                 62790
horas_sol                  69835
vento_rajada_direcao       10326
vento_rajada_velocidade    10263
vento_direcao_9h           10566
vento_direcao_15h           4228
vento_veloc_9h                 0
vento_veloc_15h                0
umidade_9h                     0
umidade_15h                 4507
pressao_9h                 15065
pressao_15h                15028
nuvem_9h                   55888
nuvem_15h                  59358
temp_9h                        0
temp_15h                       0
choveu_hoje_fex                0
chove_amanha_vtr            3267
choveu_hoje_Nfex               0
chove_amanha_Nvtr              0
ano                            0
mes                            0
dia                            0
trimestre_quarter              0
horas_sol_isna                 0
evaporacao_isna                0
nuvem_9h_isna                  0
nuvem_15h_isna                 0
pressao_9h_isna                0
pressao_15h_isna               0
dtype: int64

In [37]:
df_clima_backup = df_clima_backup.drop(columns=['chove_amanha_Nvtr', 'choveu_hoje_Nfex'])

In [38]:
# Eliminando restante dos NaN
df_clima_tratado_parcial = df_clima_backup.copy()

# Removendo os demais NaN com dropna
df_clima_tratado_parcial = df_clima_tratado_parcial.dropna()

In [39]:
df_clima_tratado_parcial.isna().sum()

data                       0
localidade                 0
temp_min                   0
temp_max                   0
chuva_mm                   0
evaporacao                 0
horas_sol                  0
vento_rajada_direcao       0
vento_rajada_velocidade    0
vento_direcao_9h           0
vento_direcao_15h          0
vento_veloc_9h             0
vento_veloc_15h            0
umidade_9h                 0
umidade_15h                0
pressao_9h                 0
pressao_15h                0
nuvem_9h                   0
nuvem_15h                  0
temp_9h                    0
temp_15h                   0
choveu_hoje_fex            0
chove_amanha_vtr           0
ano                        0
mes                        0
dia                        0
trimestre_quarter          0
horas_sol_isna             0
evaporacao_isna            0
nuvem_9h_isna              0
nuvem_15h_isna             0
pressao_9h_isna            0
pressao_15h_isna           0
dtype: int64

In [40]:
# Verificando shapes
display(f'Antes {df_clima.shape}')
display(f'Depois {df_clima_tratado_parcial.shape}')

'Antes (145460, 35)'

'Depois (56570, 33)'

In [41]:
df_clima_tratado_parcial.to_excel(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_editados\australia_clima_v4.xlsx', index=False)

In [42]:
df_clima_tratado_parcial.to_csv(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_editados\australia_clima_v4.csv', index=False)