In [41]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_brutos\clima_australia.csv', sep=';')
df

,data,localidade,temp_min,temp_max,chuva_mm,evaporacao,horas_sol,vento_rajada_direcao,vento_rajada_velocidade,vento_direcao_9h,...,umidade_9h,umidade_15h,pressao_9h,pressao_15h,nuvem_9h,nuvem_15h,temp_9h,temp_15h,choveu_hoje,chove_amanha
0,01/12/2008,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,02/12/2008,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,03/12/2008,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,04/12/2008,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,05/12/2008,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,21/06/2017,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,22/06/2017,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,23/06/2017,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,24/06/2017,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,25/06/2017,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [43]:
df.isna().sum()

data                           0
localidade                     0
temp_min                    1485
temp_max                    1261
chuva_mm                    3261
evaporacao                 62790
horas_sol                  69835
vento_rajada_direcao       10326
vento_rajada_velocidade    10263
vento_direcao_9h           10566
vento_direcao_15h           4228
vento_veloc_9h              1767
vento_veloc_15h             3062
umidade_9h                  2654
umidade_15h                 4507
pressao_9h                 15065
pressao_15h                15028
nuvem_9h                   55888
nuvem_15h                  59358
temp_9h                     1767
temp_15h                    3609
choveu_hoje                 3261
chove_amanha                3267
dtype: int64

In [44]:
# a coluna "data" do dataframe recebe a conversão para o tipo datetime
# o parâmetro dayfirst=True informa ao pandas que o formato da data é dia/mês/ano (DD/MM/YYYY)
df["data"] = pd.to_datetime(df["data"], dayfirst=True)
df.isna().sum()

data                           0
localidade                     0
temp_min                    1485
temp_max                    1261
chuva_mm                    3261
evaporacao                 62790
horas_sol                  69835
vento_rajada_direcao       10326
vento_rajada_velocidade    10263
vento_direcao_9h           10566
vento_direcao_15h           4228
vento_veloc_9h              1767
vento_veloc_15h             3062
umidade_9h                  2654
umidade_15h                 4507
pressao_9h                 15065
pressao_15h                15028
nuvem_9h                   55888
nuvem_15h                  59358
temp_9h                     1767
temp_15h                    3609
choveu_hoje                 3261
chove_amanha                3267
dtype: int64

In [45]:
# a coluna "data" do dataframe recebe a conversão para o tipo datetime
# o parâmetro dayfirst=True informa ao pandas que o formato da data é dia/mês/ano (DD/MM/YYYY)
df["data"] = pd.to_datetime(df["data"], dayfirst=True)

# a coluna "ano" é criada no dataframe
# ela recebe o ano extraído da coluna "data" (ex: 2008, 2009, 2010...)
df["ano"] = df["data"].dt.year

# a coluna "mes" é criada no dataframe
# ela recebe o número do mês extraído da coluna "data" (1 a 12)
df["mes"] = df["data"].dt.month

# a coluna "dia" é criada no dataframe
# ela recebe o número do dia do mês extraído da coluna "data" (1 a 31)
df["dia"] = df["data"].dt.day

# a coluna "trimestre" é criada no dataframe
# ela recebe o trimestre extraído da coluna "data"
# o pandas calcula automaticamente: 1=Jan-Mar, 2=Abr-Jun, 3=Jul-Set, 4=Out-Dez
df["trimestre"] = df["data"].dt.quarter

# exibe as primeiras linhas somente com as colunas de data e as colunas novas
# isso permite conferir visualmente se a separação foi feita corretamente
df[["data", "ano", "mes", "dia", "trimestre"]].head()

        data   ano  mes  dia  trimestre
0 2008-12-01  2008   12    1          4
1 2008-12-02  2008   12    2          4
2 2008-12-03  2008   12    3          4
3 2008-12-04  2008   12    4          4
4 2008-12-05  2008   12    5          4

In [46]:
# a coluna "choveu_hoje" recebe uma conversão usando numpy.where
# se o valor da célula for igual ao texto "Yes", retorna 1
# caso contrário (se for "No"), retorna 0
df["choveu_hoje"] = np.where(df["choveu_hoje"] == "Yes", 1, 0)

# a coluna "chove_amanha" recebe uma conversão usando numpy.where
# se o valor da célula for igual ao texto "Yes", retorna 1
# caso contrário (se for "No"), retorna 0
# essa coluna será utilizada futuramente como a variável alvo (target)
df["chove_amanha"] = np.where(df["chove_amanha"] == "Yes", 1, 0)

In [47]:
df.isna().sum()

data                           0
localidade                     0
temp_min                    1485
temp_max                    1261
chuva_mm                    3261
evaporacao                 62790
horas_sol                  69835
vento_rajada_direcao       10326
vento_rajada_velocidade    10263
vento_direcao_9h           10566
vento_direcao_15h           4228
vento_veloc_9h              1767
vento_veloc_15h             3062
umidade_9h                  2654
umidade_15h                 4507
pressao_9h                 15065
pressao_15h                15028
nuvem_9h                   55888
nuvem_15h                  59358
temp_9h                     1767
temp_15h                    3609
choveu_hoje                    0
chove_amanha                   0
ano                            0
mes                            0
dia                            0
trimestre                      0
dtype: int64

In [48]:
# exibe os valores únicos da coluna "choveu_hoje"
# isso garante que a conversão gerou apenas os valores 0 e 1
df["choveu_hoje"].unique()

array([0, 1])

In [49]:
# exibe os valores únicos da coluna "chove_amanha"
# isso garante que a conversão gerou apenas os valores 0 e 1
df["chove_amanha"].unique()

array([0, 1])

In [50]:
# Criação da var mes_sin
# transformando o mes em um valor cíclico usando a função seno // entre -1 e 1 // isso faz com que o modelo entenda a ciclicidade dos meses do ano // dezembro e janeiro estão próximos
df['mes_sin'] = np.sin(2 * np.pi * df['data'].dt.month / 12)

# Criação da var mes_cos
# transformando o mes em um valor cíclico usando a função cosseno // entre -1 e 1 // isso faz com que o modelo entenda a ciclicidade dos meses do ano // dezembro e janeiro estão próximos
df['mes_cos'] = np.cos(2 * np.pi * df['mes'] / 12)
df.head(3)

,data,localidade,temp_min,temp_max,chuva_mm,evaporacao,horas_sol,vento_rajada_direcao,vento_rajada_velocidade,vento_direcao_9h,...,temp_9h,temp_15h,choveu_hoje,chove_amanha,ano,mes,dia,trimestre,mes_sin,mes_cos
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,16.9,21.8,0,0,2008,12,1,4,-2.449294e-16,1.0
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,17.2,24.3,0,0,2008,12,2,4,-2.449294e-16,1.0
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,21.0,23.2,0,0,2008,12,3,4,-2.449294e-16,1.0

In [51]:
# Calculando a amplitude térmica
df['amplitude_termica'] = df['temp_max'] - df['temp_min']

# Calculando a umidade média
df['umidade_media'] = (df['umidade_9h'] + df['umidade_15h']) / 2

# Variação da pressão atmosférica
df['variacao_pressao'] = df['pressao_9h'] - df['pressao_15h']

In [52]:
df

,data,localidade,temp_min,temp_max,chuva_mm,evaporacao,horas_sol,vento_rajada_direcao,vento_rajada_velocidade,vento_direcao_9h,...,chove_amanha,ano,mes,dia,trimestre,mes_sin,mes_cos,amplitude_termica,umidade_media,variacao_pressao
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,0,2008,12,1,4,-2.449294e-16,1.0,9.5,46.5,0.6
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,0,2008,12,2,4,-2.449294e-16,1.0,17.7,34.5,2.8
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,0,2008,12,3,4,-2.449294e-16,1.0,12.8,34.0,-1.1
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,0,2008,12,4,4,-2.449294e-16,1.0,18.8,30.5,4.8
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,0,2008,12,5,4,-2.449294e-16,1.0,14.8,57.5,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,0,2017,6,21,2,1.224647e-16,-1.0,20.6,37.5,4.3
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,0,2017,6,22,2,1.224647e-16,-1.0,21.7,38.5,4.4
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,0,2017,6,23,2,1.224647e-16,-1.0,21.5,38.5,4.2
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,0,2017,6,24,2,1.224647e-16,-1.0,19.2,37.5,2.9
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,0,2017,6,25,2,1.224647e-16,-1.0,NaN,49.0,2.3

In [53]:
# Convertendo a coluna de data para datetime e ordenando do mais antigo para o mais recente // split temporal
df['data'] = pd.to_datetime(df['data'], errors='coerce')
df = df.sort_values(by='data').reset_index(drop=True)
df.dtypes, display(df.head(3))

,data,localidade,temp_min,temp_max,chuva_mm,evaporacao,horas_sol,vento_rajada_direcao,vento_rajada_velocidade,vento_direcao_9h,...,chove_amanha,ano,mes,dia,trimestre,mes_sin,mes_cos,amplitude_termica,umidade_media,variacao_pressao
0,2007-11-01,Canberra,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,...,1,2007,11,1,4,-0.5,0.866025,16.3,48.5,4.7
1,2007-11-02,Canberra,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,...,1,2007,11,2,4,-0.5,0.866025,12.9,58.0,4.0
2,2007-11-03,Canberra,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,...,1,2007,11,3,4,-0.5,0.866025,9.7,75.5,2.3

(data                       datetime64[ns]
 localidade                         object
 temp_min                          float64
 temp_max                          float64
 chuva_mm                          float64
 evaporacao                        float64
 horas_sol                         float64
 vento_rajada_direcao               object
 vento_rajada_velocidade           float64
 vento_direcao_9h                   object
 vento_direcao_15h                  object
 vento_veloc_9h                    float64
 vento_veloc_15h                   float64
 umidade_9h                        float64
 umidade_15h                       float64
 pressao_9h                        float64
 pressao_15h                       float64
 nuvem_9h                          float64
 nuvem_15h                         float64
 temp_9h                           float64
 temp_15h                          float64
 choveu_hoje                         int64
 chove_amanha                        int64
 ano                                 int32
 mes                                 int32
 dia                                 int32
 trimestre                           int32
 mes_sin                           float64
 mes_cos                           float64
 amplitude_termica                 float64
 umidade_media                     float64
 variacao_pressao                  float64
 dtype: object,
 None)

In [54]:
df['localidade'].unique()

array(['Canberra', 'Sydney', 'Adelaide', 'Hobart', 'Melbourne',
       'Brisbane', 'Perth', 'Darwin', 'Albany', 'Newcastle', 'GoldCoast',
       'AliceSprings', 'Albury', 'Cairns', 'MountGambier', 'Penrith',
       'Ballarat', 'Bendigo', 'Wollongong', 'MountGinini', 'Townsville',
       'Tuggeranong', 'Launceston', 'Moree', 'Walpole', 'BadgerysCreek',
       'Williamtown', 'MelbourneAirport', 'PerthAirport', 'CoffsHarbour',
       'Woomera', 'PearceRAAF', 'Nuriootpa', 'Cobar', 'Sale',
       'SydneyAirport', 'WaggaWagga', 'Richmond', 'NorahHead', 'Mildura',
       'NorfolkIsland', 'Witchcliffe', 'Dartmoor', 'Watsonia', 'Portland',
       'SalmonGums', 'Uluru', 'Nhil', 'Katherine'], dtype=object)

In [55]:
# a coluna "localidade" recebe uma transformação usando replace com regex
# o padrão '(?<!^)([A-Z])' identifica letras maiúsculas que não estão no início da palavra
# o replace r' \1' insere um espaço antes da letra maiúscula encontrada
df["localidade"] = df["localidade"].str.replace(
    r"(?<!^)([A-Z])",
    r" \1",
    regex=True
)
# a coluna "localidade" recebe uma nova transformação de texto
# essa transformação remove o texto " Airport" somente quando ele aparece no final do nome
# isso faz com que localidades como "Sydney Airport" virem apenas "Sydney"
df["localidade"] = df["localidade"].str.replace(
    r" Airport$",
    "",
    regex=True
)
df["localidade"] = df["localidade"].str.replace(
    r"    R    A    A    F",
    "",
    regex=True
)
# a coluna "localidade" recebe uma nova limpeza de texto
# essa limpeza remove qualquer coisa que apareça após dois ou mais espaços consecutivos
# isso garante que valores como "Pearce     R     A     A     F" virem apenas "Pearce"
df["localidade"] = df["localidade"].str.replace(
    r"\s{2,}.*$",
    "",
    regex=True
)
df.loc[df["localidade"] == "Pearce R A A F", "localidade"] = "Pearce"


df['localidade'].unique()

array(['Canberra', 'Sydney', 'Adelaide', 'Hobart', 'Melbourne',
       'Brisbane', 'Perth', 'Darwin', 'Albany', 'Newcastle', 'Gold Coast',
       'Alice Springs', 'Albury', 'Cairns', 'Mount Gambier', 'Penrith',
       'Ballarat', 'Bendigo', 'Wollongong', 'Mount Ginini', 'Townsville',
       'Tuggeranong', 'Launceston', 'Moree', 'Walpole', 'Badgerys Creek',
       'Williamtown', 'Coffs Harbour', 'Woomera', 'Pearce', 'Nuriootpa',
       'Cobar', 'Sale', 'Wagga Wagga', 'Richmond', 'Norah Head',
       'Mildura', 'Norfolk Island', 'Witchcliffe', 'Dartmoor', 'Watsonia',
       'Portland', 'Salmon Gums', 'Uluru', 'Nhil', 'Katherine'],
      dtype=object)

In [56]:
df.isna().sum()

data                           0
localidade                     0
temp_min                    1485
temp_max                    1261
chuva_mm                    3261
evaporacao                 62790
horas_sol                  69835
vento_rajada_direcao       10326
vento_rajada_velocidade    10263
vento_direcao_9h           10566
vento_direcao_15h           4228
vento_veloc_9h              1767
vento_veloc_15h             3062
umidade_9h                  2654
umidade_15h                 4507
pressao_9h                 15065
pressao_15h                15028
nuvem_9h                   55888
nuvem_15h                  59358
temp_9h                     1767
temp_15h                    3609
choveu_hoje                    0
chove_amanha                   0
ano                            0
mes                            0
dia                            0
trimestre                      0
mes_sin                        0
mes_cos                        0
amplitude_termica           1881
umidade_media               5274
variacao_pressao           15289
dtype: int64

In [57]:
# Lógica: Soma de booleanos onde True = 1 e False = 0
nulos_por_coluna = df.isnull().sum()
porcentagem_nulos = (df.isnull().sum() / len(df)) * 100

# Criando uma tabela de diagnóstico
diagnostico_nulos = pd.DataFrame({
    'Total Nulos': nulos_por_coluna,
    'Percentual (%)': porcentagem_nulos
}).sort_values(by='Percentual (%)', ascending=False)

print(diagnostico_nulos)

                         Total Nulos  Percentual (%)
horas_sol                      69835       48.009762
evaporacao                     62790       43.166506
nuvem_15h                      59358       40.807095
nuvem_9h                       55888       38.421559
variacao_pressao               15289       10.510793
pressao_9h                     15065       10.356799
pressao_15h                    15028       10.331363
vento_direcao_9h               10566        7.263853
vento_rajada_direcao           10326        7.098859
vento_rajada_velocidade        10263        7.055548
umidade_media                   5274        3.625739
umidade_15h                     4507        3.098446
vento_direcao_15h               4228        2.906641
temp_15h                        3609        2.481094
chuva_mm                        3261        2.241853
vento_veloc_15h                 3062        2.105046
umidade_9h                      2654        1.824557
amplitude_termica               1881        1.293139
vento_veloc_9h                  1767        1.214767
temp_9h                         1767        1.214767
temp_min                        1485        1.020899
temp_max                        1261        0.866905
data                               0        0.000000
localidade                         0        0.000000
ano                                0        0.000000
chove_amanha                       0        0.000000
choveu_hoje                        0        0.000000
mes                                0        0.000000
mes_sin                            0        0.000000
trimestre                          0        0.000000
dia                                0        0.000000
mes_cos                            0        0.000000

In [58]:
# cria a coluna "chuva_mm_era_nulo"
# essa coluna recebe 1 quando o valor original de "chuva_mm" é nulo
# e recebe 0 quando o valor original não é nulo
df["chuva_mm_era_nulo"] = np.where(df["chuva_mm"].isna(), 1, 0)

In [59]:
# a coluna "chuva_mm" recebe o valor 0
# somente nas linhas onde o valor original era nulo
# isso preserva o significado físico de ausência de chuva
df["chuva_mm"] = df["chuva_mm"].fillna(0)

In [60]:
df["chuva_mm_era_nulo"].sum()

np.int64(3261)

In [61]:
# verifica se ainda existem valores nulos na coluna "chuva_mm"
df["chuva_mm"].isna().sum()

np.int64(0)

In [62]:
df

,data,localidade,temp_min,temp_max,chuva_mm,evaporacao,horas_sol,vento_rajada_direcao,vento_rajada_velocidade,vento_direcao_9h,...,ano,mes,dia,trimestre,mes_sin,mes_cos,amplitude_termica,umidade_media,variacao_pressao,chuva_mm_era_nulo
0,2007-11-01,Canberra,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,...,2007,11,1,4,-5.000000e-01,0.866025,16.3,48.5,4.7,0
1,2007-11-02,Canberra,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,...,2007,11,2,4,-5.000000e-01,0.866025,12.9,58.0,4.0,0
2,2007-11-03,Canberra,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,...,2007,11,3,4,-5.000000e-01,0.866025,9.7,75.5,2.3,0
3,2007-11-04,Canberra,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,...,2007,11,4,4,-5.000000e-01,0.866025,2.2,59.0,-1.5,0
4,2007-11-05,Canberra,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,...,2007,11,5,4,-5.000000e-01,0.866025,8.5,58.5,-0.2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-25,Sale,0.1,14.8,0.0,NaN,NaN,NaN,NaN,WNW,...,2017,6,25,2,1.224647e-16,-1.000000,14.7,61.0,3.1,0
145456,2017-06-25,Melbourne,5.5,13.9,0.0,2.8,3.8,NNW,44.0,N,...,2017,6,25,2,1.224647e-16,-1.000000,8.4,65.0,2.3,0
145457,2017-06-25,Melbourne,8.6,14.3,0.0,2.8,3.8,NW,35.0,N,...,2017,6,25,2,1.224647e-16,-1.000000,5.7,61.5,2.4,0
145458,2017-06-25,Perth,6.3,17.0,0.0,1.6,7.9,E,26.0,SE,...,2017,6,25,2,1.224647e-16,-1.000000,10.7,62.0,2.6,0
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,2017,6,25,2,1.224647e-16,-1.000000,NaN,49.0,2.3,0

In [63]:
# calcula a mediana da coluna "temp_min", ignorando valores nulos
mediana_temp_min = df["temp_min"].median()

# a coluna "temp_min" recebe a substituição dos valores nulos
# os valores nulos são preenchidos com a mediana calculada acima
df["temp_min"] = df["temp_min"].fillna(mediana_temp_min)

In [64]:
# calcula a mediana da coluna "temp_max", ignorando valores nulos
mediana_temp_max = df["temp_max"].median()

# a coluna "temp_max" recebe a substituição dos valores nulos
# os valores nulos são preenchidos com a mediana calculada acima
df["temp_max"] = df["temp_max"].fillna(mediana_temp_max)

In [65]:
# calcula a mediana da coluna "temp_9h", ignorando valores nulos
mediana_temp_9h = df["temp_9h"].median()

# a coluna "temp_9h" recebe a substituição dos valores nulos
# os valores nulos são preenchidos com a mediana calculada acima
df["temp_9h"] = df["temp_9h"].fillna(mediana_temp_9h)

In [66]:
# calcula a mediana da coluna "temp_15h", ignorando valores nulos
mediana_temp_15h = df["temp_15h"].median()

# a coluna "temp_15h" recebe a substituição dos valores nulos
# os valores nulos são preenchidos com a mediana calculada acima
df["temp_15h"] = df["temp_15h"].fillna(mediana_temp_15h)

In [67]:
# verifica se ainda existem valores nulos nas colunas de temperatura
df[["temp_min", "temp_max", "temp_9h", "temp_15h"]].isna().sum()

temp_min    0
temp_max    0
temp_9h     0
temp_15h    0
dtype: int64

In [68]:
# calcula a mediana da coluna "pressao_9h", ignorando valores nulos
mediana_pressao_9h = df["pressao_9h"].median()

# a coluna "pressao_9h" recebe a substituição dos valores nulos
# os valores nulos são preenchidos com a mediana calculada acima
df["pressao_9h"] = df["pressao_9h"].fillna(mediana_pressao_9h)

In [69]:
# calcula a mediana da coluna "pressao_15h", ignorando valores nulos
mediana_pressao_15h = df["pressao_15h"].median()

# a coluna "pressao_15h" recebe a substituição dos valores nulos
# os valores nulos são preenchidos com a mediana calculada acima
df["pressao_15h"] = df["pressao_15h"].fillna(mediana_pressao_15h)

In [70]:
# calcula a mediana da coluna "variacao_pressao", ignorando valores nulos
mediana_variacao_pressao = df["variacao_pressao"].median()

# a coluna "variacao_pressao" recebe a substituição dos valores nulos
# os valores nulos são preenchidos com a mediana calculada acima
df["variacao_pressao"] = df["variacao_pressao"].fillna(mediana_variacao_pressao)

In [71]:
# verifica se ainda existem valores nulos nas colunas de pressão
df[["pressao_9h", "pressao_15h", "variacao_pressao"]].isna().sum()

pressao_9h          0
pressao_15h         0
variacao_pressao    0
dtype: int64

In [72]:
df

,data,localidade,temp_min,temp_max,chuva_mm,evaporacao,horas_sol,vento_rajada_direcao,vento_rajada_velocidade,vento_direcao_9h,...,ano,mes,dia,trimestre,mes_sin,mes_cos,amplitude_termica,umidade_media,variacao_pressao,chuva_mm_era_nulo
0,2007-11-01,Canberra,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,...,2007,11,1,4,-5.000000e-01,0.866025,16.3,48.5,4.7,0
1,2007-11-02,Canberra,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,...,2007,11,2,4,-5.000000e-01,0.866025,12.9,58.0,4.0,0
2,2007-11-03,Canberra,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,...,2007,11,3,4,-5.000000e-01,0.866025,9.7,75.5,2.3,0
3,2007-11-04,Canberra,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,...,2007,11,4,4,-5.000000e-01,0.866025,2.2,59.0,-1.5,0
4,2007-11-05,Canberra,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,...,2007,11,5,4,-5.000000e-01,0.866025,8.5,58.5,-0.2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-25,Sale,0.1,14.8,0.0,NaN,NaN,NaN,NaN,WNW,...,2017,6,25,2,1.224647e-16,-1.000000,14.7,61.0,3.1,0
145456,2017-06-25,Melbourne,5.5,13.9,0.0,2.8,3.8,NNW,44.0,N,...,2017,6,25,2,1.224647e-16,-1.000000,8.4,65.0,2.3,0
145457,2017-06-25,Melbourne,8.6,14.3,0.0,2.8,3.8,NW,35.0,N,...,2017,6,25,2,1.224647e-16,-1.000000,5.7,61.5,2.4,0
145458,2017-06-25,Perth,6.3,17.0,0.0,1.6,7.9,E,26.0,SE,...,2017,6,25,2,1.224647e-16,-1.000000,10.7,62.0,2.6,0
145459,2017-06-25,Uluru,14.9,22.6,0.0,NaN,NaN,NaN,NaN,ESE,...,2017,6,25,2,1.224647e-16,-1.000000,NaN,49.0,2.3,0

In [73]:
# calcula a mediana da coluna "umidade_9h", ignorando valores nulos
mediana_umidade_9h = df["umidade_9h"].median()

# a coluna "umidade_9h" recebe a substituição dos valores nulos
# os valores nulos são preenchidos com a mediana calculada acima
df["umidade_9h"] = df["umidade_9h"].fillna(mediana_umidade_9h)

In [74]:
# calcula a mediana da coluna "umidade_15h", ignorando valores nulos
mediana_umidade_15h = df["umidade_15h"].median()

# a coluna "umidade_15h" recebe a substituição dos valores nulos
# os valores nulos são preenchidos com a mediana calculada acima
df["umidade_15h"] = df["umidade_15h"].fillna(mediana_umidade_15h)

In [76]:
# calcula a mediana da coluna "umidade_media", ignorando valores nulos
mediana_umidade_media = df["umidade_media"].median()

# a coluna "umidade_media" recebe a substituição dos valores nulos
# os valores nulos são preenchidos com a mediana calculada acima
df["umidade_media"] = df["umidade_media"].fillna(mediana_umidade_media)

In [77]:
# verifica se ainda existem valores nulos nas colunas de umidade
df[["umidade_9h", "umidade_15h", "umidade_media"]].isna().sum()

umidade_9h       0
umidade_15h      0
umidade_media    0
dtype: int64

In [78]:
# cria uma série temporária contendo apenas valores não nulos da coluna "vento_veloc_9h"
serie_vento_9h = df["vento_veloc_9h"].dropna()

# calcula o percentil inferior de 5% da série
p5_vento_9h = serie_vento_9h.quantile(0.05)

# calcula o percentil superior de 95% da série
p95_vento_9h = serie_vento_9h.quantile(0.95)

# cria uma nova série contendo apenas valores dentro do intervalo entre p5 e p95
serie_vento_9h_aparada = serie_vento_9h[
    (serie_vento_9h >= p5_vento_9h) &
    (serie_vento_9h <= p95_vento_9h)
]

# calcula a mediana da série aparada
mediana_vento_9h = serie_vento_9h_aparada.median()

# substitui os valores nulos da coluna "vento_veloc_9h" pela mediana aparada
df["vento_veloc_9h"] = df["vento_veloc_9h"].fillna(mediana_vento_9h)

In [85]:
# cria uma série temporária contendo apenas valores não nulos da coluna "vento_veloc_15h"
serie_vento_15h = df["vento_veloc_15h"].dropna()

# calcula o percentil inferior de 5%
p5_vento_15h = serie_vento_15h.quantile(0.05)

# calcula o percentil superior de 95%
p95_vento_15h = serie_vento_15h.quantile(0.95)

# cria uma série aparada removendo extremos
serie_vento_15h_aparada = serie_vento_15h[
    (serie_vento_15h >= p5_vento_15h) &
    (serie_vento_15h <= p95_vento_15h)
]

# calcula a mediana da série aparada
mediana_vento_15h = serie_vento_15h_aparada.median()

# substitui os valores nulos da coluna "vento_veloc_15h" pela mediana aparada
df["vento_veloc_15h"] = df["vento_veloc_15h"].fillna(mediana_vento_15h)

In [86]:
# cria uma série temporária contendo apenas valores não nulos da coluna "vento_rajada_velocidade"
serie_rajada = df["vento_rajada_velocidade"].dropna()

# calcula o percentil inferior de 5%
p5_rajada = serie_rajada.quantile(0.05)

# calcula o percentil superior de 95%
p95_rajada = serie_rajada.quantile(0.95)

# cria uma série aparada removendo rajadas extremas
serie_rajada_aparada = serie_rajada[
    (serie_rajada >= p5_rajada) &
    (serie_rajada <= p95_rajada)
]

# calcula a mediana da série aparada
mediana_rajada = serie_rajada_aparada.median()

# substitui os valores nulos da coluna "vento_rajada_velocidade" pela mediana aparada
df["vento_rajada_velocidade"] = df["vento_rajada_velocidade"].fillna(mediana_rajada)

In [87]:
# calcula a moda da coluna "vento_direcao_9h", ignorando valores nulos
moda_direcao_9h = df["vento_direcao_9h"].mode().iloc[0]

# substitui os valores nulos da coluna "vento_direcao_9h" pela moda calculada
df["vento_direcao_9h"] = df["vento_direcao_9h"].fillna(moda_direcao_9h)

In [88]:
# calcula a moda da coluna "vento_direcao_15h", ignorando valores nulos
moda_direcao_15h = df["vento_direcao_15h"].mode().iloc[0]

# substitui os valores nulos da coluna "vento_direcao_15h" pela moda calculada
df["vento_direcao_15h"] = df["vento_direcao_15h"].fillna(moda_direcao_15h)

In [89]:
# calcula a moda da coluna "vento_rajada_direcao", ignorando valores nulos
moda_rajada_direcao = df["vento_rajada_direcao"].mode().iloc[0]

# substitui os valores nulos da coluna "vento_rajada_direcao" pela moda calculada
df["vento_rajada_direcao"] = df["vento_rajada_direcao"].fillna(moda_rajada_direcao)

In [90]:
# verifica se ainda existem valores nulos em todas as colunas relacionadas ao vento
df[
    [
        "vento_veloc_9h",
        "vento_veloc_15h",
        "vento_rajada_velocidade",
        "vento_direcao_9h",
        "vento_direcao_15h",
        "vento_rajada_direcao"
    ]
].isna().sum()

vento_veloc_9h             0
vento_veloc_15h            0
vento_rajada_velocidade    0
vento_direcao_9h           0
vento_direcao_15h          0
vento_rajada_direcao       0
dtype: int64

In [92]:
# calcula a moda global da coluna "nuvem_9h", ignorando valores nulos
# essa moda global será usada como fallback quando uma localidade tiver todos os valores nulos
moda_global_nuvem_9h = df["nuvem_9h"].dropna().mode().iloc[0]

In [93]:
# define uma função que recebe uma série de valores de uma localidade
# essa função retorna a moda da localidade, caso exista
# se a moda não existir porque a série está vazia (todos os valores eram nulos), retorna a moda global
def obter_moda_ou_fallback_nuvem_9h(serie_localidade):
    # calcula a moda da série da localidade, ignorando valores nulos
    moda_local = serie_localidade.dropna().mode()

    # verifica se a moda da localidade ficou vazia (isso acontece quando a localidade tem tudo nulo)
    if moda_local.empty:
        # retorna a moda global como fallback
        return moda_global_nuvem_9h

    # retorna o primeiro valor da moda local
    return moda_local.iloc[0]

In [94]:
# cria uma série com a moda de "nuvem_9h" por localidade, usando a função com fallback
moda_nuvem_9h_por_localidade = (
    df
    .groupby("localidade")["nuvem_9h"]
    .apply(obter_moda_ou_fallback_nuvem_9h)
)

In [95]:
# preenche os valores nulos de "nuvem_9h" usando a moda correspondente da localidade
# se a localidade não tiver moda porque era tudo nulo, o fallback garante um valor válido
df["nuvem_9h"] = df["nuvem_9h"].fillna(df["localidade"].map(moda_nuvem_9h_por_localidade))

In [96]:
# calcula a moda global da coluna "nuvem_15h", ignorando valores nulos
# essa moda global será usada como fallback quando uma localidade tiver todos os valores nulos
moda_global_nuvem_15h = df["nuvem_15h"].dropna().mode().iloc[0]

In [97]:
# define uma função que recebe uma série de valores de uma localidade
# essa função retorna a moda da localidade, caso exista
# se a moda não existir porque a série está vazia (todos os valores eram nulos), retorna a moda global
def obter_moda_ou_fallback_nuvem_15h(serie_localidade):
    # calcula a moda da série da localidade, ignorando valores nulos
    moda_local = serie_localidade.dropna().mode()

    # verifica se a moda da localidade ficou vazia (isso acontece quando a localidade tem tudo nulo)
    if moda_local.empty:
        # retorna a moda global como fallback
        return moda_global_nuvem_15h

    # retorna o primeiro valor da moda local
    return moda_local.iloc[0]

In [98]:
# cria uma série com a moda de "nuvem_15h" por localidade, usando a função com fallback
moda_nuvem_15h_por_localidade = (
    df
    .groupby("localidade")["nuvem_15h"]
    .apply(obter_moda_ou_fallback_nuvem_15h)
)

In [99]:
# preenche os valores nulos de "nuvem_15h" usando a moda correspondente da localidade
# se a localidade não tiver moda porque era tudo nulo, o fallback garante um valor válido
df["nuvem_15h"] = df["nuvem_15h"].fillna(df["localidade"].map(moda_nuvem_15h_por_localidade))

In [100]:
# verifica se ainda existem valores nulos nas colunas de nuvens após o tratamento
df[["nuvem_9h", "nuvem_15h"]].isna().sum()

nuvem_9h     0
nuvem_15h    0
dtype: int64

In [101]:
# calcula a mediana global da coluna "horas_sol", ignorando valores nulos
# essa mediana global será usada como fallback quando não existir mediana por grupo
mediana_global_horas_sol = df["horas_sol"].dropna().median()

In [103]:
# calcula a mediana da coluna "horas_sol" agrupando por localidade e mês
# isso preserva padrões regionais e sazonais
mediana_horas_sol_por_grupo = (
    df
    .groupby(["localidade", "mes"])["horas_sol"]
    .median()
)

In [104]:
# cria uma máscara booleana identificando as linhas onde "horas_sol" é nulo
mascara_horas_sol_nulo = df["horas_sol"].isna()

In [105]:
# para as linhas onde "horas_sol" é nulo
# tenta preencher com a mediana correspondente ao par (localidade, mes)
df.loc[mascara_horas_sol_nulo, "horas_sol"] = (
    df.loc[mascara_horas_sol_nulo, ["localidade", "mes"]]
      .apply(lambda x: mediana_horas_sol_por_grupo.get((x["localidade"], x["mes"])), axis=1)
)

In [106]:
# caso ainda existam valores nulos em "horas_sol"
# eles são preenchidos com a mediana global como fallback final
df["horas_sol"] = df["horas_sol"].fillna(mediana_global_horas_sol)

In [107]:
# calcula a mediana global da coluna "evaporacao", ignorando valores nulos
# essa mediana global será usada como fallback quando não existir mediana por grupo
mediana_global_evaporacao = df["evaporacao"].dropna().median()

In [108]:
# calcula a mediana da coluna "evaporacao" agrupando por localidade e mês
# isso preserva padrões regionais e sazonais
mediana_evaporacao_por_grupo = (
    df
    .groupby(["localidade", "mes"])["evaporacao"]
    .median()
)

In [109]:
# cria uma máscara booleana identificando as linhas onde "evaporacao" é nulo
mascara_evaporacao_nulo = df["evaporacao"].isna()

In [110]:
# para as linhas onde "evaporacao" é nulo
# tenta preencher com a mediana correspondente ao par (localidade, mes)
df.loc[mascara_evaporacao_nulo, "evaporacao"] = (
    df.loc[mascara_evaporacao_nulo, ["localidade", "mes"]]
      .apply(lambda x: mediana_evaporacao_por_grupo.get((x["localidade"], x["mes"])), axis=1)
)

In [111]:
# caso ainda existam valores nulos em "evaporacao"
# eles são preenchidos com a mediana global como fallback final
df["evaporacao"] = df["evaporacao"].fillna(mediana_global_evaporacao)

In [112]:
# verifica se ainda existem valores nulos nas colunas finais
df[["horas_sol", "evaporacao"]].isna().sum()

horas_sol     0
evaporacao    0
dtype: int64

In [113]:
df.isna().sum()

data                          0
localidade                    0
temp_min                      0
temp_max                      0
chuva_mm                      0
evaporacao                    0
horas_sol                     0
vento_rajada_direcao          0
vento_rajada_velocidade       0
vento_direcao_9h              0
vento_direcao_15h             0
vento_veloc_9h                0
vento_veloc_15h               0
umidade_9h                    0
umidade_15h                   0
pressao_9h                    0
pressao_15h                   0
nuvem_9h                      0
nuvem_15h                     0
temp_9h                       0
temp_15h                      0
choveu_hoje                   0
chove_amanha                  0
ano                           0
mes                           0
dia                           0
trimestre                     0
mes_sin                       0
mes_cos                       0
amplitude_termica          1881
umidade_media                 0
variacao_pressao              0
chuva_mm_era_nulo             0
dtype: int64

In [115]:
# Calculando a amplitude térmica
df['amplitude_termica'] = df['temp_max'] - df['temp_min']

In [116]:
df.isna().sum()

data                       0
localidade                 0
temp_min                   0
temp_max                   0
chuva_mm                   0
evaporacao                 0
horas_sol                  0
vento_rajada_direcao       0
vento_rajada_velocidade    0
vento_direcao_9h           0
vento_direcao_15h          0
vento_veloc_9h             0
vento_veloc_15h            0
umidade_9h                 0
umidade_15h                0
pressao_9h                 0
pressao_15h                0
nuvem_9h                   0
nuvem_15h                  0
temp_9h                    0
temp_15h                   0
choveu_hoje                0
chove_amanha               0
ano                        0
mes                        0
dia                        0
trimestre                  0
mes_sin                    0
mes_cos                    0
amplitude_termica          0
umidade_media              0
variacao_pressao           0
chuva_mm_era_nulo          0
dtype: int64

In [117]:
# a coluna "variacao_temp_dia" é criada no dataframe
# ela recebe a diferença entre a temperatura das 15h e a temperatura das 9h
# valores positivos indicam aquecimento ao longo do dia
df["variacao_temp_dia"] = df["temp_15h"] - df["temp_9h"]

In [118]:
# a coluna "delta_nuvem" é criada no dataframe
# ela recebe a diferença entre a nebulosidade às 15h e às 9h
# aumento de nuvem ao longo do dia indica maior instabilidade
df["delta_nuvem"] = df["nuvem_15h"] - df["nuvem_9h"]

In [119]:
# a coluna "queda_pressao" é criada no dataframe
# ela recebe o valor 1 quando a pressão às 15h é menor que às 9h
# quedas de pressão são indicativo clássico de instabilidade climática
df["queda_pressao"] = (df["pressao_15h"] < df["pressao_9h"]).astype(int)

In [120]:
# a coluna "chuva_persistente" é criada no dataframe
# ela recebe o valor 1 quando choveu hoje e também choveu ontem
# para isso, usamos um shift de 1 dia dentro de cada localidade
df["chuva_persistente"] = (
    (df["choveu_hoje"] == 1) &
    (df.groupby("localidade")["choveu_hoje"].shift(1) == 1)
).astype(int)

In [121]:
# cria uma coluna auxiliar que identifica dias sem chuva
# recebe 1 quando não choveu no dia, e 0 quando choveu
df["sem_chuva"] = (df["choveu_hoje"] == 0).astype(int)

In [122]:
# a coluna "dias_sem_chuva" é criada
# ela calcula quantos dias consecutivos sem chuva existem até o dia atual
# o cálculo é feito separadamente por localidade
df["dias_sem_chuva"] = (
    df
    .groupby("localidade")["sem_chuva"]
    .cumsum()
)

In [123]:
# a coluna "vento_forte" é criada
# ela recebe 1 quando a velocidade da rajada de vento ultrapassa 40 km/h
# esse limiar representa eventos potencialmente severos
df["vento_forte"] = (df["vento_rajada_velocidade"] >= 40).astype(int)

In [124]:
# a coluna "calor_umido" é criada
# ela recebe 1 quando a temperatura às 15h é alta e a umidade também é alta
# essa combinação favorece instabilidade atmosférica
df["calor_umido"] = (
    (df["temp_15h"] >= 30) &
    (df["umidade_15h"] >= 70)
).astype(int)

In [125]:
# exibe as primeiras linhas somente das novas features criadas
# isso permite validar se os valores fazem sentido
df[
    [
        "amplitude_termica",
        "variacao_temp_dia",
        "delta_nuvem",
        "queda_pressao",
        "chuva_persistente",
        "dias_sem_chuva",
        "vento_forte",
        "calor_umido"
    ]
].head()

,amplitude_termica,variacao_temp_dia,delta_nuvem,queda_pressao,chuva_persistente,dias_sem_chuva,vento_forte,calor_umido
0,16.3,9.2,0.0,1,0,1,0,0
1,12.9,8.2,-2.0,1,0,1,0,0
2,9.7,4.8,-1.0,1,1,1,1,0
3,2.2,0.6,5.0,0,1,1,1,0
4,8.5,4.3,0.0,0,1,1,1,0

In [133]:
df_cidades_au = pd.read_csv(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_brutos\au_cidades.csv', sep=',')

In [134]:
df_cidades_world = pd.read_csv(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_brutos\worldcities.csv', sep=',')

In [135]:
# exibe as colunas do dataframe de cidades australianas
# isso permite confirmar os nomes exatos das colunas disponíveis
df_cidades_au.columns
df_cidades_au

,city,lat,lng,country,iso2,admin_name,capital,population,population_proper
0,Melbourne,-37.8142,144.9631,Australia,AU,Victoria,admin,5031195,5031195
1,Sydney,-33.8678,151.2100,Australia,AU,New South Wales,admin,4840600,4840600
2,Brisbane,-27.4678,153.0281,Australia,AU,Queensland,admin,2360241,2360241
3,Perth,-31.9559,115.8606,Australia,AU,Western Australia,admin,2141834,2141834
4,Adelaide,-34.9275,138.6000,Australia,AU,South Australia,admin,1295714,1295714
...,...,...,...,...,...,...,...,...,...
312,Yallourn North,-38.1667,146.3667,Australia,AU,Victoria,NaN,1107,1107
313,Innisfail,-17.5238,146.0311,Australia,AU,Queensland,NaN,1091,1091
314,Mollymook,-35.3297,150.4753,Australia,AU,New South Wales,NaN,1083,1083
315,Evandale,-41.5702,147.2467,Australia,AU,Tasmania,NaN,1058,1058
316,Wahgunyah,-36.0093,146.3942,Australia,AU,Victoria,NaN,1004,1004

In [136]:
# exibe as colunas do dataframe de cidades globais
# isso permite identificar onde estão latitude, longitude e país
df_cidades_world.columns
df_cidades_world

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6870,139.7495,Japan,JP,JPN,Tōkyō,primary,37785000.0,1392685764
1,Jakarta,Jakarta,-6.1750,106.8275,Indonesia,ID,IDN,Jakarta,primary,33756000.0,1360771077
2,Delhi,Delhi,28.6100,77.2300,India,IN,IND,Delhi,admin,32226000.0,1356872604
3,Guangzhou,Guangzhou,23.1300,113.2600,China,CN,CHN,Guangdong,admin,26940000.0,1156237133
4,Mumbai,Mumbai,19.0761,72.8775,India,IN,IND,Mahārāshtra,admin,24973000.0,1356226629
...,...,...,...,...,...,...,...,...,...,...,...
48054,Al Jabīn,Al Jabin,14.7040,43.5990,Yemen,YE,YEM,Raymah,admin,NaN,1887910100
48055,Nelspruit,Nelspruit,-25.4745,30.9703,South Africa,ZA,ZAF,Mpumalanga,admin,NaN,1710114438
48056,Gqeberha,Gqeberha,-33.9681,25.5981,South Africa,ZA,ZAF,Eastern Cape,NaN,NaN,1710000082
48057,Lupane,Lupane,-18.9315,27.8070,Zimbabwe,ZW,ZWE,Matabeleland North,admin,NaN,1716206606
48058,Charlotte Amalie,Charlotte Amalie,18.3420,-64.9331,U.S. Virgin Islands,VI,VIR,Virgin Islands,primary,NaN,1850037473

In [137]:
# cria uma cópia da coluna de nome da cidade em au_cidades
# essa cópia será padronizada para facilitar o join
df_cidades_au["cidade_padronizada"] = df_cidades_au["city"]

# remove espaços extras no início e no fim do nome da cidade
df_cidades_au["cidade_padronizada"] = df_cidades_au["cidade_padronizada"].str.strip()

# garante que o nome da cidade esteja no mesmo formato de texto usado no dataframe principal
# neste caso, mantém o padrão com letra inicial maiúscula
df_cidades_au["cidade_padronizada"] = df_cidades_au["cidade_padronizada"]

In [138]:
# realiza o merge entre o dataframe principal de clima e o dataframe de cidades australianas
# o join é feito usando o nome da localidade e o nome da cidade padronizada
# o tipo de join é left, para não perder nenhuma linha do dataset de clima
df = df.merge(
    df_cidades_au[["cidade_padronizada", "lat", "lng"]],
    left_on="localidade",
    right_on="cidade_padronizada",
    how="left"
)

In [139]:
# identifica quantas linhas ainda estão sem latitude após o merge
# isso indica cidades que não foram encontradas na base australiana
df["lat"].isna().sum()

np.int64(62012)

In [140]:
# lista as localidades únicas que ficaram sem latitude
# essas localidades serão tratadas usando o fallback worldcities
df.loc[df["lat"].isna(), "localidade"].unique()

array(['Albany', 'Alice Springs', 'Mount Ginini', 'Tuggeranong',
       'Walpole', 'Badgerys Creek', 'Williamtown', 'Coffs Harbour',
       'Woomera', 'Pearce', 'Sale', 'Norah Head', 'Mildura',
       'Norfolk Island', 'Witchcliffe', 'Dartmoor', 'Watsonia',
       'Portland', 'Salmon Gums', 'Uluru', 'Nhil', 'Katherine'],
      dtype=object)

In [141]:
# cria um dataframe apenas com cidades da Austrália no worldcities
df_world_au = df_cidades_world[df_cidades_world["country"] == "Australia"]

# verifica se as localidades problemáticas existem no worldcities
df_world_au[df_world_au["city"].isin([
    "Albany", "Alice Springs", "Mount Ginini", "Tuggeranong",
    "Walpole", "Badgerys Creek", "Williamtown", "Coffs Harbour",
    "Woomera", "Pearce", "Sale", "Norah Head", "Mildura",
    "Norfolk Island", "Witchcliffe", "Dartmoor", "Watsonia",
    "Portland", "Salmon Gums", "Uluru", "Nhil", "Katherine"
])]

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
15620,Mildura,Mildura,-34.1889,142.1583,Australia,AU,AUS,Victoria,NaN,34565.0,1036624348
20145,Coffs Harbour,Coffs Harbour,-30.3022,153.1189,Australia,AU,AUS,New South Wales,NaN,25752.0,1036320442
20502,Albany,Albany,-35.0228,117.8814,Australia,AU,AUS,Western Australia,NaN,25196.0,1036047365
21617,Alice Springs,Alice Springs,-23.7000,133.8700,Australia,AU,AUS,Northern Territory,NaN,23726.0,1036830397
33002,Sale,Sale,-38.1000,147.0667,Australia,AU,AUS,Victoria,NaN,13673.0,1036960753
42486,Portland,Portland,-38.3333,141.6000,Australia,AU,AUS,Victoria,NaN,9712.0,1036439594
47405,Katherine,Katherine,-14.4667,132.2667,Australia,AU,AUS,Northern Territory,NaN,1254.0,1036323110
47609,Woomera,Woomera,-31.1496,136.8000,Australia,AU,AUS,South Australia,NaN,450.0,1036392822

In [142]:
# realiza o merge com o dataframe worldcities apenas para cidades australianas
df = df.merge(
    df_world_au[["city", "lat", "lng"]],
    left_on="localidade",
    right_on="city",
    how="left",
    suffixes=("", "_world")
)

# preenche latitude usando worldcities onde ainda estava nula
df["lat"] = df["lat"].fillna(df["lat_world"])

# preenche longitude usando worldcities onde ainda estava nula
df["lng"] = df["lng"].fillna(df["lng_world"])

# remove colunas auxiliares
df = df.drop(columns=["city", "lat_world", "lng_world"])

In [143]:
# cria um dicionário de mapeamento de estações para cidades equivalentes
mapa_estacao_para_cidade = {
    "Mount Ginini": "Canberra",
    "Tuggeranong": "Canberra",
    "Badgerys Creek": "Sydney",
    "Williamtown": "Newcastle",
    "Pearce": "Perth",
    "Woomera": "Woomera",
    "Uluru": "Yulara"
}

In [144]:
# substitui o nome da localidade pelas cidades equivalentes
# isso permite que o merge geográfico funcione corretamente
df["localidade"] = df["localidade"].replace(mapa_estacao_para_cidade)

In [145]:
# verifica quantas linhas ainda estão sem latitude
df["lat"].isna().sum()

np.int64(39309)

In [146]:
# lista as localidades únicas que ainda estão sem latitude após os merges automáticos
localidades_sem_lat = df.loc[df["lat"].isna(), "localidade"].unique()

# exibe a lista para análise semântica
localidades_sem_lat

array(['Canberra', 'Walpole', 'Sydney', 'Newcastle', 'Perth',
       'Norah Head', 'Norfolk Island', 'Witchcliffe', 'Dartmoor',
       'Watsonia', 'Salmon Gums', 'Yulara', 'Nhil'], dtype=object)

In [147]:
# cria um dicionário contendo latitude e longitude fixas para localidades remanescentes
# esse dicionário é usado apenas quando não foi possível obter coordenadas via bases automáticas
coordenadas_manuais = {
    "Canberra": (-35.2809, 149.1300),
    "Sydney": (-33.8688, 151.2093),
    "Perth": (-31.9505, 115.8605),
    "Newcastle": (-32.9283, 151.7817),
    "Walpole": (-34.9776, 116.7316),
    "Norah Head": (-33.2817, 151.5683),
    "Norfolk Island": (-29.0408, 167.9547),
    "Witchcliffe": (-34.0066, 115.1044),
    "Dartmoor": (-37.9226, 141.2724),
    "Watsonia": (-37.7116, 145.0836),
    "Salmon Gums": (-32.9800, 121.6400),
    "Yulara": (-25.2406, 130.9887),
    "Nhil": (-36.3318, 141.6500)
}

In [149]:
# percorre cada par de localidade e coordenadas no dicionário manual
for localidade, (lat, lng) in coordenadas_manuais.items():
    
    # identifica as linhas onde a localidade é igual à chave do dicionário
    # e onde a latitude ainda está nula
    mascara = (df["localidade"] == localidade) & (df["lat"].isna())
    
    # atribui a latitude fixa para essas linhas
    df.loc[mascara, "lat"] = lat
    
    # atribui a longitude fixa para essas linhas
    df.loc[mascara, "lng"] = lng

In [150]:
# verifica quantas linhas ainda estão sem latitude após o preenchimento manual
df["lat"].isna().sum()

np.int64(0)

In [151]:
df.isna().sum()

data                           0
localidade                     0
temp_min                       0
temp_max                       0
chuva_mm                       0
evaporacao                     0
horas_sol                      0
vento_rajada_direcao           0
vento_rajada_velocidade        0
vento_direcao_9h               0
vento_direcao_15h              0
vento_veloc_9h                 0
vento_veloc_15h                0
umidade_9h                     0
umidade_15h                    0
pressao_9h                     0
pressao_15h                    0
nuvem_9h                       0
nuvem_15h                      0
temp_9h                        0
temp_15h                       0
choveu_hoje                    0
chove_amanha                   0
ano                            0
mes                            0
dia                            0
trimestre                      0
mes_sin                        0
mes_cos                        0
amplitude_termica              0
umidade_media                  0
variacao_pressao               0
chuva_mm_era_nulo              0
variacao_temp_dia              0
delta_nuvem                    0
queda_pressao                  0
chuva_persistente              0
sem_chuva                      0
dias_sem_chuva                 0
vento_forte                    0
calor_umido                    0
cidade_padronizada         62012
lat                            0
lng                            0
dtype: int64

In [152]:
# remove a coluna cidade_padronizada, pois ela foi apenas auxiliar no merge
df = df.drop(columns=["cidade_padronizada"], errors="ignore")

In [157]:
df_enso = pd.read_csv(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_brutos\el_nino_la_nina.txt', delim_whitespace=True)
df_enso

C:\Users\JacyzinGuilherme(Bip\AppData\Local\Temp\ipykernel_28580\449940308.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df_enso = pd.read_csv(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_brutos\el_nino_la_nina.txt', delim_whitespace=True)

    SEAS    YR  TOTAL  ANOM
0    DJF  1950  24.72 -1.53
1    JFM  1950  25.17 -1.34
2    FMA  1950  25.75 -1.16
3    MAM  1950  26.12 -1.18
4    AMJ  1950  26.32 -1.07
..   ...   ...    ...   ...
906  JJA  2025  27.10 -0.14
907  JAS  2025  26.63 -0.28
908  ASO  2025  26.32 -0.40
909  SON  2025  26.16 -0.51
910  OND  2025  26.05 -0.55

[911 rows x 4 columns]

In [158]:
# cria um dicionário que mapeia cada estação ENSO para o mês central correspondente
mapa_seas_para_mes = {
    "DJF": 1,
    "JFM": 2,
    "FMA": 3,
    "MAM": 4,
    "AMJ": 5,
    "MJJ": 6,
    "JJA": 7,
    "JAS": 8,
    "ASO": 9,
    "SON": 10,
    "OND": 11,
    "NDJ": 12
}

In [159]:
# cria a coluna "mes" no dataframe ENSO
# essa coluna recebe o mês central correspondente à estação SEAS
df_enso["mes"] = df_enso["SEAS"].map(mapa_seas_para_mes)

In [160]:
# ajusta o ano para a estação DJF
# quando SEAS é DJF, o ano é incrementado em 1
df_enso.loc[df_enso["SEAS"] == "DJF", "YR"] += 1

In [161]:
# cria a coluna "fase_enso"
# classifica a anomalia em El Nino, La Nina ou Neutro
df_enso["fase_enso"] = np.where(
    df_enso["ANOM"] >= 0.5, "ElNino",
    np.where(df_enso["ANOM"] <= -0.5, "LaNina", "Neutro")
)

In [163]:
# cria a coluna "intensidade_enso"
# classifica a intensidade do ENSO com base no valor absoluto da anomalia
# o default é definido como "Neutra" para manter o tipo string e evitar conflito de dtype
df_enso["intensidade_enso"] = np.select(
    [
        df_enso["ANOM"].abs() < 0.5,
        df_enso["ANOM"].abs().between(0.5, 1.0),
        df_enso["ANOM"].abs().between(1.0, 1.5),
        df_enso["ANOM"].abs() >= 1.5
    ],
    [
        "Neutra",
        "Fraca",
        "Moderada",
        "Forte"
    ],
    default="Neutra"
)

In [164]:
# cria a coluna "enso_sinal"
# recebe 1 para El Nino, -1 para La Nina e 0 para Neutro
df_enso["enso_sinal"] = np.where(
    df_enso["fase_enso"] == "ElNino", 1,
    np.where(df_enso["fase_enso"] == "LaNina", -1, 0)
)

In [165]:
# cria um dataframe ENSO final apenas com colunas necessárias
# isso evita vazamento e reduz ruído
df_enso_final = df_enso[
    ["YR", "mes", "ANOM", "fase_enso", "intensidade_enso", "enso_sinal"]
].rename(columns={"YR": "ano"})

In [166]:
# realiza o merge entre o dataframe climático principal e o dataframe ENSO
# o join é feito usando as colunas "ano" e "mes"
# o tipo de join é left para preservar todas as observações climáticas
df = df.merge(
    df_enso_final,
    on=["ano", "mes"],
    how="left"
)

In [169]:
df_co2 = pd.read_excel(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_brutos\emissao_gas_carbo.xlsx')

In [174]:
# renomeia a coluna de ano para "ano"
# isso garante compatibilidade com o dataframe principal
df_co2 = df_co2.rename(columns={"Year": "ano"})

In [176]:
# renomeia a coluna de emissão para "co2_emissao"
# isso deixa o nome semântico e claro
df_co2 = df_co2.rename(columns={"au_mt": "co2_emissao"})
df_co2

     ano  co2_emissao
0   1990     620.8589
1   1991     601.5758
2   1992     562.4539
3   1993     541.3763
4   1994     530.7538
5   1995     518.2441
6   1996     520.0307
7   1997     518.5591
8   1998     536.8060
9   1999     557.4620
10  2000     579.1688
11  2001     594.5740
12  2002     598.8564
13  2003     598.1005
14  2004     579.6722
15  2005     611.9316
16  2006     648.4331
17  2007     630.7811
18  2008     620.7714
19  2009     615.3389
20  2010     616.6194
21  2011     585.5531
22  2012     560.6127
23  2013     563.0136
24  2014     544.7602
25  2015     540.1339
26  2016     496.8351
27  2017     536.7209
28  2018     508.3225
29  2019     496.2546
30  2020     477.7104
31  2021     439.9247
32  2022     440.6208
33  2023     453.4489

In [177]:
# cria a coluna "co2_norm"
# essa coluna normaliza a emissão de CO₂ entre 0 e 1
# isso facilita o uso em modelos sem distorcer escalas
df_co2["co2_norm"] = (
    (df_co2["co2_emissao"] - df_co2["co2_emissao"].min()) /
    (df_co2["co2_emissao"].max() - df_co2["co2_emissao"].min())
)

In [184]:
df_co2

     ano  co2_emissao  co2_norm  co2_delta  co2_media_5anos
0   1990     620.8589  0.867755        NaN       620.858900
1   1991     601.5758  0.775274   -19.2831       611.217350
2   1992     562.4539  0.587646   -39.1219       594.962867
3   1993     541.3763  0.486559   -21.0776       581.566225
4   1994     530.7538  0.435614   -10.6225       571.403740
5   1995     518.2441  0.375617   -12.5097       550.880780
6   1996     520.0307  0.384186     1.7866       534.571760
7   1997     518.5591  0.377128    -1.4716       525.792800
8   1998     536.8060  0.464640    18.2469       524.878740
9   1999     557.4620  0.563705    20.6560       530.220380
10  2000     579.1688  0.667811    21.7068       542.405320
11  2001     594.5740  0.741693    15.4052       557.313980
12  2002     598.8564  0.762232     4.2824       573.373440
13  2003     598.1005  0.758606    -0.7559       585.632340
14  2004     579.6722  0.670225   -18.4283       590.074380
15  2005     611.9316  0.824940    32.2594       596.626940
16  2006     648.4331  1.000000    36.5015       607.398760
17  2007     630.7811  0.915342   -17.6520       613.783700
18  2008     620.7714  0.867335   -10.0097       618.317880
19  2009     615.3389  0.841281    -5.4325       625.451220
20  2010     616.6194  0.847422     1.2805       626.388780
21  2011     585.5531  0.698429   -31.0663       613.812780
22  2012     560.6127  0.578816   -24.9404       599.779100
23  2013     563.0136  0.590331     2.4009       588.227540
24  2014     544.7602  0.502788   -18.2534       574.111800
25  2015     540.1339  0.480600    -4.6263       558.814700
26  2016     496.8351  0.272941   -43.2988       541.071100
27  2017     536.7209  0.464232    39.8858       536.292740
28  2018     508.3225  0.328034   -28.3984       525.354520
29  2019     496.2546  0.270157   -12.0679       515.653400
30  2020     477.7104  0.181219   -18.5442       503.168700
31  2021     439.9247  0.000000   -37.7857       491.786620
32  2022     440.6208  0.003338     0.6961       472.566600
33  2023     453.4489  0.064862    12.8281       461.591880

In [185]:
# cria a coluna "co2_delta"
# representa a diferença da emissão em relação ao ano anterior
df_co2["co2_delta"] = df_co2["co2_emissao"].diff()

In [186]:
# cria a coluna "co2_media_5anos"
# representa a média móvel de 5 anos para capturar tendência estrutural
df_co2["co2_media_5anos"] = (
    df_co2["co2_emissao"]
    .rolling(window=5, min_periods=1)
    .mean()
)

In [189]:
# mostra as primeiras linhas com as colunas padronizadas e as features novas
df_co2[["ano", "co2_emissao", "co2_norm", "co2_delta", "co2_media_5anos"]].head()
df_co2.isna().sum()
df_co2.dropna(inplace=True)
df_co2.isna().sum()

ano                0
co2_emissao        0
co2_norm           0
co2_delta          0
co2_media_5anos    0
dtype: int64

In [190]:
# seleciona apenas as colunas que serão levadas para o dataframe principal
df_co2_final = df_co2[["ano", "co2_emissao", "co2_norm", "co2_delta", "co2_media_5anos"]]

In [193]:
# faz o merge no dataframe principal usando a coluna "ano"
df = df.merge(df_co2_final, on="ano", how="left")
df

,data,localidade,temp_min,temp_max,chuva_mm,evaporacao,horas_sol,vento_rajada_direcao,vento_rajada_velocidade,vento_direcao_9h,...,intensidade_enso,enso_sinal,co2_emissao_x,co2_norm_x,co2_delta_x,co2_media_5anos_x,co2_emissao_y,co2_norm_y,co2_delta_y,co2_media_5anos_y
0,2007-11-01,Canberra,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,...,Moderada,-1,630.7811,0.915342,-17.6520,613.78370,630.7811,0.915342,-17.6520,613.78370
1,2007-11-02,Canberra,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,...,Moderada,-1,630.7811,0.915342,-17.6520,613.78370,630.7811,0.915342,-17.6520,613.78370
2,2007-11-03,Canberra,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,...,Moderada,-1,630.7811,0.915342,-17.6520,613.78370,630.7811,0.915342,-17.6520,613.78370
3,2007-11-04,Canberra,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,...,Moderada,-1,630.7811,0.915342,-17.6520,613.78370,630.7811,0.915342,-17.6520,613.78370
4,2007-11-05,Canberra,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,...,Moderada,-1,630.7811,0.915342,-17.6520,613.78370,630.7811,0.915342,-17.6520,613.78370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154666,2017-06-25,Melbourne,5.5,13.9,0.0,2.8,3.8,NNW,44.0,N,...,Neutra,0,536.7209,0.464232,39.8858,536.29274,536.7209,0.464232,39.8858,536.29274
154667,2017-06-25,Melbourne,8.6,14.3,0.0,2.8,3.8,NW,35.0,N,...,Neutra,0,536.7209,0.464232,39.8858,536.29274,536.7209,0.464232,39.8858,536.29274
154668,2017-06-25,Perth,6.3,17.0,0.0,1.6,7.9,E,26.0,SE,...,Neutra,0,536.7209,0.464232,39.8858,536.29274,536.7209,0.464232,39.8858,536.29274
154669,2017-06-25,Perth,6.3,17.0,0.0,1.6,7.9,E,26.0,SE,...,Neutra,0,536.7209,0.464232,39.8858,536.29274,536.7209,0.464232,39.8858,536.29274
154670,2017-06-25,Yulara,14.9,22.6,0.0,4.8,8.4,W,39.0,ESE,...,Neutra,0,536.7209,0.464232,39.8858,536.29274,536.7209,0.464232,39.8858,536.29274

In [196]:
# cria a coluna "estacao" no dataframe
# essa coluna será definida com base no mês, considerando o hemisfério sul
# o default é definido como "desconhecida" para manter o tipo string e evitar conflito de dtype
df["estacao"] = np.select(
    [
        df["mes"].isin([12, 1, 2]),   # meses de verão no hemisfério sul
        df["mes"].isin([3, 4, 5]),    # meses de outono
        df["mes"].isin([6, 7, 8]),    # meses de inverno
        df["mes"].isin([9, 10, 11])   # meses de primavera
    ],
    [
        "verao",
        "outono",
        "inverno",
        "primavera"
    ],
    default="desconhecida"
)

In [197]:
# cria um dicionário de altitude média por localidade (em metros)
# esses valores representam a altitude aproximada das estações/cidades
mapa_altitude = {
    "Canberra": 575,
    "Sydney": 58,
    "Melbourne": 31,
    "Brisbane": 27,
    "Perth": 15,
    "Adelaide": 48,
    "Hobart": 17,
    "Darwin": 30
}

In [198]:
# cria a coluna "altitude" no dataframe
# cada localidade recebe sua altitude média a partir do dicionário
df["altitude"] = df["localidade"].map(mapa_altitude)

In [199]:
# cria um dataframe com pontos costeiros de referência na Austrália
# esses pontos representam cidades costeiras principais
df_costa = pd.DataFrame({
    "lat_costa": [-33.87, -37.81, -27.47, -31.95],
    "lng_costa": [151.21, 144.96, 153.03, 115.86]
})

In [202]:
#!pip install geopy

from geopy.distance import geodesic

# define uma função que calcula a menor distância até a costa
def calcular_distancia_costa(lat, lng):
    # se latitude ou longitude forem nulas, retorna NaN
    if pd.isna(lat) or pd.isna(lng):
        return np.nan
    
    # calcula a menor distância entre o ponto e os pontos costeiros
    return min(
        geodesic((lat, lng), (row.lat_costa, row.lng_costa)).km
        for _, row in df_costa.iterrows()
    )

In [203]:
# cria a coluna "distancia_costa"
# cada linha recebe a distância mínima até a costa em quilômetros
df["distancia_costa"] = df.apply(
    lambda x: calcular_distancia_costa(x["lat"], x["lng"]),
    axis=1
)

In [204]:
# cria a coluna "ponto_orvalho_15h"
# calcula o ponto de orvalho usando temperatura e umidade das 15h
df["ponto_orvalho_15h"] = (
    df["temp_15h"] - ((100 - df["umidade_15h"]) / 5)
)

In [205]:
# cria a coluna "depressao_orvalho_15h"
# representa o quão distante o ar está da saturação
df["depressao_orvalho_15h"] = (
    df["temp_15h"] - df["ponto_orvalho_15h"]
)

In [206]:
# cria uma lista com todas as localidades únicas do dataframe principal
# essa lista será usada para garantir que nenhuma localidade fique sem altitude
lista_localidades = sorted(df["localidade"].dropna().unique())

In [207]:
# cria um dataframe de referência contendo todas as localidades únicas
# esse dataframe será a tabela mestre de altitude por localidade
df_ref_localidades = pd.DataFrame({"localidade": lista_localidades})

In [208]:
# exibe as colunas do dataframe de cidades australianas
# isso permite verificar se existe alguma coluna de altitude (ex.: elevation, altitude, elev)
df_cidades_au.columns

Index(['city', 'lat', 'lng', 'country', 'iso2', 'admin_name', 'capital',
       'population', 'population_proper', 'cidade_padronizada'],
      dtype='object')

In [210]:
df.isna().sum()

data                            0
localidade                      0
temp_min                        0
temp_max                        0
chuva_mm                        0
evaporacao                      0
horas_sol                       0
vento_rajada_direcao            0
vento_rajada_velocidade         0
vento_direcao_9h                0
vento_direcao_15h               0
vento_veloc_9h                  0
vento_veloc_15h                 0
umidade_9h                      0
umidade_15h                     0
pressao_9h                      0
pressao_15h                     0
nuvem_9h                        0
nuvem_15h                       0
temp_9h                         0
temp_15h                        0
choveu_hoje                     0
chove_amanha                    0
ano                             0
mes                             0
dia                             0
trimestre                       0
mes_sin                         0
mes_cos                         0
amplitude_termica               0
umidade_media                   0
variacao_pressao                0
chuva_mm_era_nulo               0
variacao_temp_dia               0
delta_nuvem                     0
queda_pressao                   0
chuva_persistente               0
sem_chuva                       0
dias_sem_chuva                  0
vento_forte                     0
calor_umido                     0
lat                             0
lng                             0
ANOM                            0
fase_enso                       0
intensidade_enso                0
enso_sinal                      0
co2_emissao_x                   0
co2_norm_x                      0
co2_delta_x                     0
co2_media_5anos_x               0
co2_emissao_y                   0
co2_norm_y                      0
co2_delta_y                     0
co2_media_5anos_y               0
estacao                         0
altitude                   101407
distancia_costa                 0
ponto_orvalho_15h               0
depressao_orvalho_15h           0
dtype: int64

In [211]:
df.shape

(154671, 60)

In [212]:
df.to_csv(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_editados\australia_clima_v0.csv', sep=',', index=False)
df.to_excel(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_editados\australia_clima_v0.xlsx', index=False)