In [15]:
# Imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import json
import requests
import datetime

### Leitura Geral dos Dataset's

In [16]:
df_clima = pd.read_csv(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_brutos\clima_australia.csv')
display(df_clima)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [17]:
# Renomear as colunas para pt-br
df_clima = df_clima.rename(columns={
    "Date": "data",
    "Location": "localidade",
    "MinTemp": "temperatura_minima",
    "MaxTemp": "temperatura_maxima",
    "Rainfall": "chuva_mm",
    "Evaporation": "evaporacao_mm",
    "Sunshine": "horas_sol",
    "WindGustDir": "direcao_rajada_maxima",
    "WindGustSpeed": "velocidade_rajada_maxima",
    "WindDir9am": "direcao_vento_9h",
    "WindDir3pm": "direcao_vento_15h",
    "WindSpeed9am": "velocidade_vento_9h",
    "WindSpeed3pm": "velocidade_vento_15h",
    "Humidity9am": "umidade_9h",
    "Humidity3pm": "umidade_15h",
    "Pressure9am": "pressao_9h",
    "Pressure3pm": "pressao_15h",
    "Cloud9am": "nuvens_9h",
    "Cloud3pm": "nuvens_15h",
    "Temp9am": "temperatura_9h",
    "Temp3pm": "temperatura_15h",
    "RainToday": "choveu_hoje",
    "RainTomorrow": "vai_chover_amanha"
})

df_clima.head(5)

,data,localidade,temperatura_minima,temperatura_maxima,chuva_mm,evaporacao_mm,horas_sol,direcao_rajada_maxima,velocidade_rajada_maxima,direcao_vento_9h,...,umidade_9h,umidade_15h,pressao_9h,pressao_15h,nuvens_9h,nuvens_15h,temperatura_9h,temperatura_15h,choveu_hoje,vai_chover_amanha
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [18]:
df_clima.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   data                      145460 non-null  object
 1   localidade                145460 non-null  object
 2   temperatura_minima        143975 non-null  float64
 3   temperatura_maxima        144199 non-null  float64
 4   chuva_mm                  142199 non-null  float64
 5   evaporacao_mm             82670 non-null   float64
 6   horas_sol                 75625 non-null   float64
 7   direcao_rajada_maxima     135134 non-null  object
 8   velocidade_rajada_maxima  135197 non-null  float64
 9   direcao_vento_9h          134894 non-null  object
 10  direcao_vento_15h         141232 non-null  object
 11  velocidade_vento_9h       143693 non-null  float64
 12  velocidade_vento_15h      142398 non-null  float64
 13  umidade_9h                142806 non-null  float64
 14  umidade_15h               140953 non-null  float64
 15  pressao_9h                130395 non-null  float64
 16  pressao_15h               130432 non-null  float64
 17  nuvens_9h                 89572 non-null   float64
 18  nuvens_15h                86102 non-null   float64
 19  temperatura_9h            143693 non-null  float64
 20  temperatura_15h           141851 non-null  float64
 21  choveu_hoje               142199 non-null  object
 22  vai_chover_amanha         142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [19]:
df_clima.columns

Index(['data', 'localidade', 'temperatura_minima', 'temperatura_maxima',
       'chuva_mm', 'evaporacao_mm', 'horas_sol', 'direcao_rajada_maxima',
       'velocidade_rajada_maxima', 'direcao_vento_9h', 'direcao_vento_15h',
       'velocidade_vento_9h', 'velocidade_vento_15h', 'umidade_9h',
       'umidade_15h', 'pressao_9h', 'pressao_15h', 'nuvens_9h', 'nuvens_15h',
       'temperatura_9h', 'temperatura_15h', 'choveu_hoje',
       'vai_chover_amanha'],
      dtype='object')

In [20]:
df_clima.describe()

,temperatura_minima,temperatura_maxima,chuva_mm,evaporacao_mm,horas_sol,velocidade_rajada_maxima,velocidade_vento_9h,velocidade_vento_15h,umidade_9h,umidade_15h,pressao_9h,pressao_15h,nuvens_9h,nuvens_15h,temperatura_9h,temperatura_15h
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [30]:
tipos_dados_df_clima = df_clima.dtypes
print(tipos_dados_df_clima)

data                         object
localidade                   object
temperatura_minima          float64
temperatura_maxima          float64
chuva_mm                    float64
evaporacao_mm               float64
horas_sol                   float64
direcao_rajada_maxima        object
velocidade_rajada_maxima    float64
direcao_vento_9h             object
direcao_vento_15h            object
velocidade_vento_9h         float64
velocidade_vento_15h        float64
umidade_9h                  float64
umidade_15h                 float64
pressao_9h                  float64
pressao_15h                 float64
nuvens_9h                   float64
nuvens_15h                  float64
temperatura_9h              float64
temperatura_15h             float64
choveu_hoje                  object
vai_chover_amanha            object
dtype: object

In [21]:
# Importação do dataset retail
df_retail = pd.read_excel(r'C:\Users\JacyzinGuilherme(Bip\mentoria-bip\dados_brutos\australia_retail.xlsx')
display(df_retail)

,Type of Business,Business Name,Location,Opening Time,Closing Time,Most Traffic Occurring Time,Maximum Sales Time,Employee Scheduling,Maximum Sales Time.1,Daily Average Sales,Weekly Average Sales,Popular Products Sold,Customer Demographics,Payment Methods,Customer Satisfaction,Store Profitability,Employee Satisfaction,Labour Law Complaints
0,Clothing,Fashion Hub,Melbourne,9:00 AM,8:00 PM,19:00 PM,16:00 PM,Overstaffed,8:00 PM,3520.77,23527.26,"T-shirts, Jeans",Young Adults,Credit Card,Good,Decreased,Dissatisfied,Yes
1,Bookstore,Book Nook,Brisbane,9:00 AM,10:00 PM,14:00 PM,18:00 PM,Understaffed,5:00 PM,2915.36,27744.20,"Children's Books, Non-fiction",Teens,Credit Card,Good,Decreased,Dissatisfied,Yes
2,Bookstore,Book Nook,Adelaide,8:00 AM,9:00 PM,16:00 PM,19:00 PM,Overstaffed,6:00 PM,1984.46,22411.88,"Non-fiction, Children's Books",Teens,Credit Card,Bad,Decreased,Satisfied,No
3,Bookstore,Book Nook,Melbourne,9:00 AM,6:00 PM,18:00 PM,19:00 PM,Overstaffed,7:00 PM,644.22,31314.84,"Fiction, Non-fiction",Teens,Digital Wallet,Bad,Decreased,Dissatisfied,Yes
4,Furniture,Home Essentials,Sydney,7:00 AM,8:00 PM,15:00 PM,21:00 PM,Understaffed,6:00 PM,620.63,27881.23,"Chairs, Sofas",Seniors,Cash,Good,Increased,Satisfied,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Clothing,Fashion Hub,Melbourne,7:00 AM,8:00 PM,18:00 PM,17:00 PM,Overstaffed,8:00 PM,507.56,5081.61,"Dresses, Jeans",Young Adults,Digital Wallet,Good,Increased,Satisfied,No
496,Grocery,Green Grocers,Sydney,8:00 AM,6:00 PM,11:00 AM,17:00 PM,Understaffed,5:00 PM,3618.03,29709.42,"Vegetables, Dairy Products",Families,Debit Card,Bad,Increased,Satisfied,Yes
497,Clothing,Fashion Hub,Perth,7:00 AM,9:00 PM,12:00 PM,20:00 PM,Overstaffed,8:00 PM,1569.51,9908.53,"Dresses, Jeans",Young Adults,Digital Wallet,Good,Increased,Dissatisfied,No
498,Clothing,Fashion Hub,Sydney,8:00 AM,7:00 PM,20:00 PM,17:00 PM,Understaffed,7:00 PM,1411.71,33851.77,"T-shirts, Jeans",Young Adults,Credit Card,Good,Increased,Dissatisfied,Yes
499,Bookstore,Book Nook,Sydney,10:00 AM,9:00 PM,13:00 PM,21:00 PM,Overstaffed,5:00 PM,2615.05,31314.89,"Fiction, Children's Books",Teens,Digital Wallet,Good,Increased,Dissatisfied,Yes

In [22]:
# Renomear colunas para pt-br
df_retail = df_retail.rename(columns={
    "Type of Business": "tipo_negocio",
    "Business Name": "nome_estabelecimento",
    "Location": "localidade",
    "Opening Time": "horario_abertura",
    "Closing Time": "horario_fechamento",
    "Most Traffic Occurring Time": "horario_maior_fluxo",
    "Maximum Sales Time": "horario_pico_vendas",
    "Maximum Sales Time.1": "horario_pico_vendas_2",
    "Employee Scheduling": "alocacao_funcionarios",
    "Employee Satisfaction": "satisfacao_funcionarios",
    "Daily Average Sales": "vendas_medias_diarias",
    "Weekly Average Sales": "vendas_medias_semanais",
    "Store Profitability": "lucratividade_loja",
    "Popular Products Sold": "produtos_populares",
    "Customer Demographics": "perfil_clientes",
    "Payment Methods": "metodos_pagamento",
    "Customer Satisfaction": "satisfacao_clientes",
    "Labour Law Complaints": "reclamacoes_trabalhistas"
})

# Mostrar as novas colunas
df_retail.head()

,tipo_negocio,nome_estabelecimento,localidade,horario_abertura,horario_fechamento,horario_maior_fluxo,horario_pico_vendas,alocacao_funcionarios,horario_pico_vendas_2,vendas_medias_diarias,vendas_medias_semanais,produtos_populares,perfil_clientes,metodos_pagamento,satisfacao_clientes,lucratividade_loja,satisfacao_funcionarios,reclamacoes_trabalhistas
0,Clothing,Fashion Hub,Melbourne,9:00 AM,8:00 PM,19:00 PM,16:00 PM,Overstaffed,8:00 PM,3520.77,23527.26,"T-shirts, Jeans",Young Adults,Credit Card,Good,Decreased,Dissatisfied,Yes
1,Bookstore,Book Nook,Brisbane,9:00 AM,10:00 PM,14:00 PM,18:00 PM,Understaffed,5:00 PM,2915.36,27744.20,"Children's Books, Non-fiction",Teens,Credit Card,Good,Decreased,Dissatisfied,Yes
2,Bookstore,Book Nook,Adelaide,8:00 AM,9:00 PM,16:00 PM,19:00 PM,Overstaffed,6:00 PM,1984.46,22411.88,"Non-fiction, Children's Books",Teens,Credit Card,Bad,Decreased,Satisfied,No
3,Bookstore,Book Nook,Melbourne,9:00 AM,6:00 PM,18:00 PM,19:00 PM,Overstaffed,7:00 PM,644.22,31314.84,"Fiction, Non-fiction",Teens,Digital Wallet,Bad,Decreased,Dissatisfied,Yes
4,Furniture,Home Essentials,Sydney,7:00 AM,8:00 PM,15:00 PM,21:00 PM,Understaffed,6:00 PM,620.63,27881.23,"Chairs, Sofas",Seniors,Cash,Good,Increased,Satisfied,No

In [23]:
# Verificação das colunas
df_retail.columns

Index(['tipo_negocio', 'nome_estabelecimento', 'localidade',
       'horario_abertura', 'horario_fechamento', 'horario_maior_fluxo',
       'horario_pico_vendas', 'alocacao_funcionarios', 'horario_pico_vendas_2',
       'vendas_medias_diarias', 'vendas_medias_semanais', 'produtos_populares',
       'perfil_clientes', 'metodos_pagamento', 'satisfacao_clientes',
       'lucratividade_loja', 'satisfacao_funcionarios',
       'reclamacoes_trabalhistas'],
      dtype='object')

In [24]:
# Informações gerais do dataset
df_retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   tipo_negocio              500 non-null    object
 1   nome_estabelecimento      500 non-null    object
 2   localidade                500 non-null    object
 3   horario_abertura          500 non-null    object
 4   horario_fechamento        500 non-null    object
 5   horario_maior_fluxo       500 non-null    object
 6   horario_pico_vendas       500 non-null    object
 7   alocacao_funcionarios     500 non-null    object
 8   horario_pico_vendas_2     500 non-null    object
 9   vendas_medias_diarias     500 non-null    float64
 10  vendas_medias_semanais    500 non-null    float64
 11  produtos_populares        500 non-null    object
 12  perfil_clientes           500 non-null    object
 13  metodos_pagamento         500 non-null    object
 14  satisfacao_clientes       500 non-null    object
 15  lucratividade_loja        500 non-null    object
 16  satisfacao_funcionarios   500 non-null    object
 17  reclamacoes_trabalhistas  500 non-null    object
dtypes: float64(2), object(16)
memory usage: 70.4+ KB

In [32]:
# Tipos de dados das colunas
tipos_dados_df_retail = df_retail.dtypes
print(tipos_dados_df_retail)

tipo_negocio                 object
nome_estabelecimento         object
localidade                   object
horario_abertura             object
horario_fechamento           object
horario_maior_fluxo          object
horario_pico_vendas          object
alocacao_funcionarios        object
horario_pico_vendas_2        object
vendas_medias_diarias       float64
vendas_medias_semanais      float64
produtos_populares           object
perfil_clientes              object
metodos_pagamento            object
satisfacao_clientes          object
lucratividade_loja           object
satisfacao_funcionarios      object
reclamacoes_trabalhistas     object
dtype: object

In [25]:
# Estatísticas gerais
df_retail.describe()

       vendas_medias_diarias  vendas_medias_semanais
count             500.000000              500.000000
mean             2748.050040            21274.825640
std              1163.109471             9397.319614
min               494.540000             3865.030000
25%              1868.622500            13966.630000
50%              2785.035000            23320.345000
75%              3698.420000            29865.052500
max              5199.460000            37754.760000

In [27]:
# Contando o número de nulos em cada coluna df_retail

df_clima.isnull().sum()

data                            0
localidade                      0
temperatura_minima           1485
temperatura_maxima           1261
chuva_mm                     3261
evaporacao_mm               62790
horas_sol                   69835
direcao_rajada_maxima       10326
velocidade_rajada_maxima    10263
direcao_vento_9h            10566
direcao_vento_15h            4228
velocidade_vento_9h          1767
velocidade_vento_15h         3062
umidade_9h                   2654
umidade_15h                  4507
pressao_9h                  15065
pressao_15h                 15028
nuvens_9h                   55888
nuvens_15h                  59358
temperatura_9h               1767
temperatura_15h              3609
choveu_hoje                  3261
vai_chover_amanha            3267
dtype: int64

In [28]:
# Contando o número de nulos em cada coluna df_retail

df_retail.isnull().sum()

tipo_negocio                0
nome_estabelecimento        0
localidade                  0
horario_abertura            0
horario_fechamento          0
horario_maior_fluxo         0
horario_pico_vendas         0
alocacao_funcionarios       0
horario_pico_vendas_2       0
vendas_medias_diarias       0
vendas_medias_semanais      0
produtos_populares          0
perfil_clientes             0
metodos_pagamento           0
satisfacao_clientes         0
lucratividade_loja          0
satisfacao_funcionarios     0
reclamacoes_trabalhistas    0
dtype: int64

In [34]:
display(df_clima)

,data,localidade,temperatura_minima,temperatura_maxima,chuva_mm,evaporacao_mm,horas_sol,direcao_rajada_maxima,velocidade_rajada_maxima,direcao_vento_9h,...,umidade_9h,umidade_15h,pressao_9h,pressao_15h,nuvens_9h,nuvens_15h,temperatura_9h,temperatura_15h,choveu_hoje,vai_chover_amanha
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [35]:
display(df_retail)

,tipo_negocio,nome_estabelecimento,localidade,horario_abertura,horario_fechamento,horario_maior_fluxo,horario_pico_vendas,alocacao_funcionarios,horario_pico_vendas_2,vendas_medias_diarias,vendas_medias_semanais,produtos_populares,perfil_clientes,metodos_pagamento,satisfacao_clientes,lucratividade_loja,satisfacao_funcionarios,reclamacoes_trabalhistas
0,Clothing,Fashion Hub,Melbourne,9:00 AM,8:00 PM,19:00 PM,16:00 PM,Overstaffed,8:00 PM,3520.77,23527.26,"T-shirts, Jeans",Young Adults,Credit Card,Good,Decreased,Dissatisfied,Yes
1,Bookstore,Book Nook,Brisbane,9:00 AM,10:00 PM,14:00 PM,18:00 PM,Understaffed,5:00 PM,2915.36,27744.20,"Children's Books, Non-fiction",Teens,Credit Card,Good,Decreased,Dissatisfied,Yes
2,Bookstore,Book Nook,Adelaide,8:00 AM,9:00 PM,16:00 PM,19:00 PM,Overstaffed,6:00 PM,1984.46,22411.88,"Non-fiction, Children's Books",Teens,Credit Card,Bad,Decreased,Satisfied,No
3,Bookstore,Book Nook,Melbourne,9:00 AM,6:00 PM,18:00 PM,19:00 PM,Overstaffed,7:00 PM,644.22,31314.84,"Fiction, Non-fiction",Teens,Digital Wallet,Bad,Decreased,Dissatisfied,Yes
4,Furniture,Home Essentials,Sydney,7:00 AM,8:00 PM,15:00 PM,21:00 PM,Understaffed,6:00 PM,620.63,27881.23,"Chairs, Sofas",Seniors,Cash,Good,Increased,Satisfied,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Clothing,Fashion Hub,Melbourne,7:00 AM,8:00 PM,18:00 PM,17:00 PM,Overstaffed,8:00 PM,507.56,5081.61,"Dresses, Jeans",Young Adults,Digital Wallet,Good,Increased,Satisfied,No
496,Grocery,Green Grocers,Sydney,8:00 AM,6:00 PM,11:00 AM,17:00 PM,Understaffed,5:00 PM,3618.03,29709.42,"Vegetables, Dairy Products",Families,Debit Card,Bad,Increased,Satisfied,Yes
497,Clothing,Fashion Hub,Perth,7:00 AM,9:00 PM,12:00 PM,20:00 PM,Overstaffed,8:00 PM,1569.51,9908.53,"Dresses, Jeans",Young Adults,Digital Wallet,Good,Increased,Dissatisfied,No
498,Clothing,Fashion Hub,Sydney,8:00 AM,7:00 PM,20:00 PM,17:00 PM,Understaffed,7:00 PM,1411.71,33851.77,"T-shirts, Jeans",Young Adults,Credit Card,Good,Increased,Dissatisfied,Yes
499,Bookstore,Book Nook,Sydney,10:00 AM,9:00 PM,13:00 PM,21:00 PM,Overstaffed,5:00 PM,2615.05,31314.89,"Fiction, Children's Books",Teens,Digital Wallet,Good,Increased,Dissatisfied,Yes

In [39]:
df_clima.shape

(145460, 23)

In [40]:
df_retail.shape

(500, 18)